<!-- BEGIN {$smarty.template} -->
<div class="ui-layout-center">

<form action="add_bmt_plugin.php" method="post">
<input type="hidden" name="file" value="{$bmt.bmt_filename|rawurlencode}">
<input type="hidden" name="action" value="{$smarty.const.ACTION_ADD}">

<table cellspacing="0">
  <caption><em>{t}Add billing method plugin{/t}</em></caption>
  <tr>
    <th> {t}File{/t}:</th>
    <td> {$bmt.bmt_filename|wash} </td>
  </tr>
  <tr>
    <th> {t}Description{/t}:</th>
    <td> <input type="text" class="tinput" name="bmt_description" value="{$bmt.bmt_description|stripslashes|wash}" size="50" maxlength="250"> </td>
  </tr>
  <tr>
    <th> {t}Country{/t}: </th>
    <td>
      <select name="ctr_id">
        {html_options options=$countries selected=$bmt.ctr_id}
      </select>
    </td>
  </tr>
</table>

<div class="buttons">
  <input class="button" type="submit" name="submit" value="{t}Submit{/t}">
  <a class="button" href="bmt_plugins.php">{t}Cancel{/t}</a>
</div>
</form>

</div>
<!-- END {$smarty.template} -->
