<!-- BEGIN {$smarty.template} -->
<div class="ui-layout-center">

<form action="{$SELF}" method="post" name="fadduser">
<input type="hidden" name="action" value="{$smarty.const.ACTION_ADD}">

<table cellspacing="0">
  <caption><em>{t}Add user{/t}</em></caption>
  <tr>
    <th>{t}Login{/t}: </th>
    <td> <input type="text" class="tinput" name="usr_login" value="{$user.usr_login|wash}" size="10" maxlength="20"> </td>
  </tr>
  <tr>
    <th>{t}Person{/t}: </th>
    <td>
      <select name="pe_id">
        {html_options options=$persons selected=$user.pe_id}
      </select>
    </td>
  </tr>
  <tr>
    <th>{t}Language{/t}: </th>
    <td>
      <select name="userconfig[LANGUAGE]">
        {html_options options=$languages selected=$smarty.const.PHPAGA_LANGUAGE}
      </select>
    </td>
  </tr>
  <tr>
    <th>{t}Theme{/t}: </th>
    <td>
      <select name="usr_skin">
        {html_options options=$skins selected=$user.usr_skin}
      </select>
    </td>
  </tr>
  <tr>
    <th>{t}Password{/t}: </th>
    <td> <input type="password" class="tinput" name="usr_pwd_new" value="{$user.usr_pwd_new}" size="10" maxlength="15"> </td>
  </tr>
  <tr>
    <th>{t}Confirm{/t}: </th>
    <td> <input type="password" class="tinput" name="usr_pwd_confirm" value="{$user.usr_pwd_confirm}" size="10" maxlength="15"> </td>
  </tr>
</table>

<div class="buttons">
  <input class="button" type="submit" value="{t}Submit{/t}">
  <a class="button" href="users.php">{t}Cancel{/t}</a>
</div>

</form>

{literal}
<script type="text/javascript">
document.forms["fadduser"].elements["usr_login"].focus();
</script>
{/literal}

</div>
<!-- END {$smarty.template} -->
