<!-- BEGIN {$smarty.template} -->
<div class="ui-layout-center">

<form action="{$ACTION}" method="post" name="form">
<input type="hidden" name="id" value="{$billInfo.bill_id}">

<table cellspacing="0">
  <caption><em>{$BILL_INFO}</em></caption>
  <tr>
    <td class="label"> {t}Invoice nr.{/t}: </td>
    <td class="data"> {$billInfo.bill_number|wash} </td>
    <td class="label"> {t}Invoice date{/t}: </td>
    <td class="data"> {$billInfo.bill_date|wash|date_format:$smarty.const.PHPAGA_DATEFORMAT_SHORT} </td>
  </tr>
  <tr>
    <td class="label"> {t}Term of payment{/t}: </td>
    <td class="data"> {$billInfo.bill_payterm|wash|default:"&nbsp;"} </td>
    <td class="label"> {t}Date due{/t}: </td>
    {if strlen($billInfo.bill_date_due)}
    <td class="data{if $billInfo.bill_overdue} warn{/if}"> {$billInfo.bill_date_due|wash|date_format:$smarty.const.PHPAGA_DATEFORMAT_SHORT} </td>
    {else}
    <td class="data recinfo"> {t}not set{/t} </td>
    {/if}
  </tr>
  <tr>
    <td class="label"> {t}Invoice type{/t}: </td>
    <td colspan="3" class="data"> {$billInfo.bmt_description|wash} </td>
  </tr>
  <tr>
    <td class="label">{t}Company{/t}: </td>
    <td colspan="3" class="data">{$billInfo.cpn_name|wash}</td>
  </tr>
  <tr><td></td></tr>
  <tr>
    <td class="label"> {t}Notes{/t}: </td>
    <td class="data" colspan="3">
      <textarea cols="50" rows="5" class="tinput no-transparency" name="bill_note" maxlength="250" id="note">{$billInfo.bill_note|wash}</textarea>
    </td>
  </tr>
</table>

<div class="buttons">
  <input type="submit" name="submit" value="{t}Submit{/t}">
  <input type="button" onclick="location.href='bill.php?id={$billInfo.bill_id}';" value="{t}Cancel{/t}">
</div>

</form>

</div>
<!-- END {$smarty.template} -->
