<!-- BEGIN {$smarty.template} -->
<div class="ui-layout-center">

{literal}
<script type="text/javascript">
    $(document).ready(function() {
        $("#tab_container").tabs();

        /* View task details */

        var $viewTaskDialog = $('<div><\/div>').dialog({ 
            autoOpen: false, 
            title: '{/literal}{t}Task information{/t}{literal}', 
            width: 'auto', 
            height: 'auto' 
            });

        $('.tview').live('click', function() {
                var id = $(this).attr('id');
                var task_id = id.replace(/^tv/g, "");
                $viewTaskDialog.load('service.php?saction='+{/literal}{$smarty.const.ACTION_SERVICE_OPDETAILS}{literal}
                    +'&id=' + task_id);
                $viewTaskDialog.dialog('open');
                return false;
        });

        /* View material details */

        var $viewMaterialDialog = $('<div><\/div>').dialog({ 
            autoOpen: false, 
            title: '{/literal}{t}Material information{/t}{literal}', 
            width: 'auto', 
            height: 'auto' 
            });

        $('.mview').each(function() {
            var $link = $(this);

            $link.click(function() {
                var id = $(this).attr('id');
                var material_id = id.replace(/^mv/g, "");
                $viewMaterialDialog.load('service.php?saction='+{/literal}{$smarty.const.ACTION_SERVICE_MATDETAILS}{literal}
                    +'&id=' + material_id);
                $viewMaterialDialog.dialog('open');
                return false;
            });
        });

        /* Print dialog */
        $("#printbill").dialog({
                autoOpen: false,
                modal: true,
                buttons: {
                    "{/literal}{t}Open{/t}{literal}": function() {
                       $('#pdf_download').val('0');
                       $('#bill_print_form').submit(); 
                        $(this).dialog( "close" );
                    },
                    "{/literal}{t}Download{/t}{literal}": function() {
                       $('#pdf_download').val('1');
                       $('#bill_print_form').submit(); 
                        $(this).dialog( "close" );
                    },
                    Cancel: function() {
                        $(this).dialog( "close" );
                    }
                },
                close: function() {
                }
        });
        $('#export_pdf').click(function() { $( "#printbill" ).dialog( "open" ); });
    });

function confirm_delete(bill_id) {
    if (window.confirm('{/literal}{t}Are you sure you want to delete this invoice?{/t} {$billInfo.bill_number}/{$billInfo.bill_date}  ({$billInfo.bill_endsum|phpaga_formatamount} {$billInfo.curr_name}){literal}')) {
        location.href = 'bill.php?id='+bill_id+'&action={/literal}{$smarty.const.ACTION_DELETE}{literal}';
    }
}
</script>
{/literal}

<div id="printbill" title="{t}PDF{/t}: {t}Invoice{/t} {$billInfo.bill_number|wash}/{$billInfo.bill_date|wash}">
    <form action="bill_pdf.php" method="get" name="bill_print_form" id="bill_print_form">
        <input type="hidden" name="id" value="{$billInfo.bill_id}" />
        <input type="hidden" name="download" value="0" id="pdf_download" />

        <h2>{t}Print options{/t}</h2>
        <input type="checkbox" class="cbox" name="letterhead" id="letterhead" value="1" {if $smarty.const.PHPAGA_PDF_PRINT_LETTERHEAD_DEFAULT}checked="checked"{/if} /><label for="letterhead">{t}Print letterhead{/t}</label> <br />
        <input type="checkbox" class="cbox" name="oplist" id="oplist" value="1" /><label for="oplist">{t}Append task list{/t}</label><br />
        <input type="checkbox" class="cbox" name="timesheet" id="timesheet" value="1" /><label for="timesheet">{t}Append time sheet{/t}</label>
    </form>
</div>

<div id="opdetails"> </div>
<div id="matdetails"> </div>

<h2>{t}Invoice{/t} {$billInfo.bill_number|wash}/{$billInfo.bill_date|wash}{if strlen($billInfo.rbill_id)} <span>(recurring invoice <a href="recurrbills.php?id={$billInfo.rbill_id|wash}">#{$billInfo.rbill_id|wash}</a>)</span>{/if}</h2>

<div class="actions">
    [ {if ($perm_invoices && ($billInfo.bill_paydate eq ""))}<a class="ptr" onclick="confirm_delete({$billInfo.bill_id});">{t}Delete{/t}</a> |{/if}
    {if $perm_invoices}<a href="add_bill.php?id={$billInfo.bill_id}&amp;action={$smarty.const.ACTION_CLONE}">{t}Clone{/t}</a> |{/if}
    <a id="export_pdf" href="#">{t}Print to PDF{/t}</a>
    {if ($perm_invoices)}
    {if not strlen($billInfo.bill_paydate)}
    | <a href="bill.php?id={$billInfo.bill_id}&amp;add_latefee=true">{t}Add Late Fee{/t}</a>
    {/if}
    {/if}
    | <a href="bill_note.php?id={$billInfo.bill_id}">{if ($billInfo.bill_note eq "")}{t}Add Note{/t}{else}{t}Edit Note{/t}{/if}</a>
    ]
</div>

<div id="tab_container">

    <ul class="tab_items">
        <li><a href="#bill-details">{t}Invoice{/t}</a></li>
        {if count($billInfo.expenses)}
        <li><a href="#bill-expenses">{t}Expenses{/t}</a></li>
        {/if}
        <li><a href="#bill-payments">{t}Payments & Fees{/t}</a></li>
        {if isset($billInfo.operations.oprows) && is_array($billInfo.operations.oprows) && count($billInfo.operations.oprows) > 0}
        <li><a href="#bill-assoctasks">{t}Associated tasks{/t}</a></li>
        {/if}
    </ul>

    <div id="bill-details" class="tab_content">
        <div class="floatcontainer">
            <table class="detail flleft" cellspacing="0">

                <caption><em>{t}Invoice{/t} {$billInfo.bill_number|wash}/{$billInfo.bill_date|wash}{if strlen($billInfo.rbill_id)} <span>(recurring invoice <a href="recurrbills.php?id={$billInfo.rbill_id|wash}">#{$billInfo.rbill_id|wash}</a>)</span>{/if}</em>
                </caption>

                <tr>
                    <th>{t}Invoice nr.{/t}: </th>
                    <td> {$billInfo.bill_number|wash} </td>
                    <th> {t}Invoice date{/t}: </th>
                    <td> {$billInfo.bill_date|wash|date_format:$smarty.const.PHPAGA_DATEFORMAT_SHORT} </td>
                </tr>
                <tr>
                    <th>{t}Company{/t}: </th>
                    <td><a href="company.php?id={$billInfo.cpn_id}">{$billInfo.cpn_name|wash}</a></td>
                    <th> {t}Date due{/t}: </th>
                    {if strlen($billInfo.bill_date_due)}
                    <td{if $billInfo.bill_overdue} class="warn"{/if}> {$billInfo.bill_date_due|wash|date_format:$smarty.const.PHPAGA_DATEFORMAT_SHORT} </td>
                    {else}
                    <td> {t}not set{/t} </td>
                    {/if}
                </tr>
                <tr>
                    <th> {t}Contact person{/t}: </th>
                    <td> {$billInfo.bill_person_recipient|wash|default:"&nbsp;"} </td>
                    <th> {t}Date paid{/t}: </th>
                    {if $billInfo.bill_paydate eq ""}
                    <td> {t}not paid{/t} </td>
                    {else}
                    <td> {$billInfo.bill_paydate|wash|date_format:$smarty.const.PHPAGA_DATEFORMAT_SHORT} </td>
                    {/if}
                </tr>
                <tr>
                    <th> {t}Invoice type{/t}: </th>
                    <td> {$billInfo.bmt_description|wash} </td>
                    <th>{t}Total Payments{/t}: </th>
                    {if $billInfo.pmtsum.pmt_sum}
                    <td>{$config.MONETARY_SYMBOL|wash}{$billInfo.pmtsum.pmt_sum|number_format:2:$config.SEPARATOR_DECIMALS:$config.SEPARATOR_THOUSANDS|default:"&nbsp;"}</td>
                    {else}
                    <td>{t}no payments yet{/t}</td>
                    {/if}
                </tr>
                <tr>
                    <th> {t}Currency{/t}: </th>
                    <td> {$billInfo.curr_name|default:"&nbsp;"} </td>
                    <th>{t}Balance Due{/t}: </th>
                    <td>{$billInfo.bill_balance_due|number_format:2:$config.SEPARATOR_DECIMALS:$config.SEPARATOR_THOUSANDS|default:"&nbsp;"}</td> 
                </tr>
                <tr>
                    <th> {t}Additional line{/t}: </th>
                    <td colspan="3"> {$billInfo.bill_additional_line|default:"&nbsp;"} </td>
                </tr>
                <tr>
                    <th>{t}Details{/t}: </th>
                    <td colspan="3">
                        <table class="billdetailstable" cellspacing="0">
                            {section name=details loop=$billInfo.bill_details}
                            <tr>
                                {if $billInfo.bill_details[details].text eq ""}
                                <td class="btext">&nbsp;</td>
                                {else}
                                <td class="bdesc"> {$billInfo.bill_details[details].text|wash} </td>
                                {/if}
                                {if $billInfo.bill_details[details].amount eq ""}
                                <td class="bamount">&nbsp;</td>
                                {else}
                                <td class="bnumber"> {$billInfo.bill_details[details].amount} </td>
                                {/if}
                            </tr>
                            {/section}
                        </table>
                    </td>
                </tr>
                <tr><td></td></tr>
                <tr>
                    <th>{t}Notes{/t}: </th>
                    <td colspan="3">{$billInfo.bill_note|wash}</td>
                </tr>
            </table>

            <table class="flleft" cellspacing="0">
                <caption><em>{t}Line items{/t}</em></caption>
                <thead>
                    <tr>
                        <th> {t}Product code{/t} </th>
                        <th> {t}Description{/t} </th>
                        <th class="time"> {t}Qty./Hours{/t} </th>
                        <th class="number"> {t}Net price{/t} </th>
                    </tr>
                </thead>
                <tbody>
                    {section name=lit loop=$billInfo.lineitems}
                    <tr>
                        <td>
                            {$billInfo.lineitems[lit].lit_prodcode|wash|default:"&nbsp;"}
                            {if strlen($billInfo.lineitems[lit].op_id)}
                            {if strlen($billInfo.lineitems[lit].lit_prodcode)}<br />{/if}
                            {if (is_numeric($billInfo.lineitems[lit].op_id) && ($billInfo.lineitems[lit].op_id > 0))}
                            <a class="ptr tview" id="tv{$billInfo.lineitems[lit].op_id}"><img id="vimgb{$billInfo.lineitems[lit].op_id}" src="img/phpaga/view.png" height="16" width="16" border="0" alt="{t}View{/t}" title="{t}Associated task{/t}"></a>
                            {else}
                            {t}Multiple tasks are associated with this line item{/t}
                            {/if}
                            {/if}
                            {if strlen($billInfo.lineitems[lit].mat_id)}<br />
                            <a class="ptr mview" id="mv{$billInfo.lineitems[lit].mat_id}"><img id="vimgc{$billInfo.lineitems[lit].mat_id}" src="img/phpaga/view.png" height="16" width="16" border="0" alt="{t}View{/t}" title="{t}Associated material{/t}"></a>
                            {/if}
                        </td>
                        <td class="datawrap"> {$billInfo.lineitems[lit].lit_desc|wash|nl2br} </td>
                        <td class="number"> {$billInfo.lineitems[lit].lit_qty|wash|default:"&nbsp;"} </td>
                        <td class="number lr"> {$config.MONETARY_SYMBOL|wash}{$billInfo.lineitems[lit].lit_netprice|wash|phpaga_formatamount|default:"&nbsp;"} </td>
                    </tr>
                    {/section}
                </tbody>
            </table>
        </div>
        <div class="spacer"></div>
    </div>

    <div id="bill-payments" class="tab_content">
        <script type="text/javascript" >
            {literal}

            $(document).ready(function() {
                
                /* Begin payments section */
                
                var paymentGridConf = { 
                    apiUrl: 'api.php/payment',
                    {/literal}
                    canManage: true,//{if not strlen($billInfo.bill_paydate)}true{else}false{/if},
                    title: '{t}Payments{/t}',
                    colNames: [ 'Id', 'BillId', '{t}Date{/t}', '{t}Amount{/t}', '{t}Note{/t}' ],
                    {literal}
                    colModel: [

                        {hidden:true,name:'pmt_id', index:'pmt_id'},
                        {hidden:true,name:'bill_id', index:'bill_id', editable: true, 
                            editrules: { edithidden: false }, 
                            editoptions: { defaultValue: {/literal}{$billInfo.bill_id}{literal}},
                            hidedlg: true, integer:true},
                        {name:'pmt_date', index:'pmt_date', width:40, align:"right",formatter: 'date', 
                         editable: true, editrules:{required:true}, editoptions:{maxlength:10},
                         formatoptions: {newformat:'ShortDate'}, search: false },
                        {name:'pmt_amt', index:'pmt_amt', width:40, search: false, number: true, align:"right", sortable:false,
                         editable: true, editrules:{required:true, number: true}
                        }, 
                        {name:'pmt_note', index:'pmt_note', width:100,
                            editable: true, edittype:'textarea',
                            searchoptions: { sopt: ['cn','bw','eq','ew','ne'] }
                        }
                    ]
                };
                
                $.extend($.jgrid.edit, {
                    closeAfterEdit: true,
                    closeAfterAdd: true,
                    //ajaxEditOptions: { contentType: "application/json" },
                    serializeEditData: function(data) {
                            delete data.oper;
                            return JSON.stringify(data);
                    }
                });

                $.extend($.jgrid.del, { mtype: 'DELETE', serializeDelData: function() { return ""; } });
                
                var paymentEditOptions = { 
                    url: paymentGridConf.apiUrl, 
                    mtype: 'PUT', 
                    closeOnEscape: true,
                    onInitializeForm : function(formid) {
                        jQuery("#pmt_date",formid).datepicker({changeMonth: true,
                            changeYear: true,
                            numberOfMonths: 1,
                            //dateFormat: 'yy-mm-dd',
                            showOn: 'both',
                            buttonImage: './img/phpaga/cal.png',
                            buttonImageOnly: true});
                    },
                    onclickSubmit: function(params, postdata) {  
                        params.url = paymentGridConf.apiUrl+'/'+jQuery("#paymentlist").getGridParam('selrow'); 
                    },
                    afterSubmit: paymentProcessAddEdit
                };
                var paymentAddOptions = { url: paymentGridConf.apiUrl, 
                    mtype: "POST", 
                    closeOnEscape: true,
                    onInitializeForm : function(formid) {
                        jQuery("#pmt_date",formid).datepicker({changeMonth: true,
                            changeYear: true,
                            numberOfMonths: 1,
                            //dateFormat: 'yy-mm-dd',
                            showOn: 'both',
                            buttonImage: './img/phpaga/cal.png',
                            buttonImageOnly: true});
                    },
                    afterSubmit: paymentProcessAddEdit
                };
                
                var paymentDelOptions = { 
                    url: paymentGridConf.apiUrl, 
                    closeOnEscape: true,
                    onclickSubmit: function(params, postdata) { params.url = paymentGridConf.apiUrl + '/' + postdata; },
                    afterSubmit: paymentProcessAddEdit
                };

                function paymentProcessAddEdit(response, postdata) {
                        var success = true;
                        var message = ""
                        var json = eval('(' + response.responseText + ')');
                        if(json.errors) {
                            success = false;
                            for(i=0; i < json.errors.length; i++) {
                                message += json.errors[i] + '<br/>';
                            }
                        }
                        var new_id = json.obj_id || -1;
                        return [success,message,new_id];
                }

                $("#paymentlist").jqGrid({
                    //scroll:1,
                    datatype: 'json',
                    url: paymentGridConf.apiUrl+'?bill_id='+{/literal}{$billInfo.bill_id}{literal},
                    editurl: paymentGridConf.apiUrl,
                    mtype: 'GET',
                    colNames: paymentGridConf.colNames,
                    colModel : paymentGridConf.colModel,
                    pager: '#paymentpager',
                    rowNum:30,
                    sortname: 'pmt_date',
                    sortorder: 'asc',
                    viewrecords: true,
                    jsonReader : { root: 'rows', repeatitems: false, id: 'pmt_id' },
                    gridview: true,
                    caption: paymentGridConf.title,
                    width: 400,
                    height: 'auto',
                    sortable: true,
                    toppager: true
                }); //.jqGrid('filterToolbar',{stringResult:true});

                jQuery("#paymentlist").jqGrid('navGrid','#paymentpager',
                        { 
                          cloneToTop: true,
                          add: true,
                          edit: true,
                          del: paymentGridConf.canManage, 
                          search:false, 
                          refresh:true,
                          },
                          paymentEditOptions, paymentAddOptions, paymentDelOptions,
                          { }, // search
                          { closeOnEscape:true } // view
                        );

                
               /* Begin late fees section */ 
                
                var feeGridConf = { 
                    apiUrl: 'api.php/latefee',
                    {/literal}
                    canManage: {if not strlen($billInfo.bill_paydate)}true{else}false{/if},
                    title: '{t}Late Fees{/t}',
                    colNames: [ 'Id', '{t}Date{/t}', '{t}Amount{/t}' ],
                    {literal}
                    colModel: [

                        {hidden:true,name:'fee_id', index:'fee_id'},
                        {name:'fee_date', index:'fee_date', width:40, align:"right",formatter: 'date', 
                         formatoptions: {newformat:'ShortDate'}, search: false },
                        {name:'fee_amt', index:'fee_amt', width:40, search: false, number: true, align:"right", sortable:false }
                    ]
                };

                $.extend($.jgrid.del, { mtype: 'DELETE', serializeDelData: function() { return ""; } });

                function feeProcessAddEdit(response, postdata) {
                        var success = true;
                        var message = ""
                        var json = eval('(' + response.responseText + ')');
                        if(json.errors) {
                            success = false;
                            for(i=0; i < json.errors.length; i++) {
                                message += json.errors[i] + '<br/>';
                            }
                        }
                        var new_id = json.obj_id || -1;
                        return [success,message,new_id];
                }

                $("#latefeelist").jqGrid({
                    //scroll:1,
                    datatype: 'json',
                    url: feeGridConf.apiUrl+'?bill_id='+{/literal}{$billInfo.bill_id}{literal},
                    editurl: feeGridConf.apiUrl,
                    mtype: 'GET',
                    colNames: feeGridConf.colNames,
                    colModel : feeGridConf.colModel,
                    pager: '#latefeepager',
                    rowNum:30,
                    sortname: 'fee_date',
                    sortorder: 'asc',
                    viewrecords: true,
                    jsonReader : { root: 'rows', repeatitems: false, id: 'fee_id' },
                    gridview: true,
                    caption: feeGridConf.title,
                    width: 400,
                    height: 'auto',
                    sortable: true,
                    toppager: true
                }); //.jqGrid('filterToolbar',{stringResult:true});

                jQuery("#latefeelist").jqGrid('navGrid','#latefeepager',
                        { 
                          cloneToTop: true,
                          add: false,
                          edit: false,
                          del: feeGridConf.canManage, 
                          search:false, 
                          refresh:true,
                          },
                          {}, {}, 
                          { 
                            url: feeGridConf.apiUrl, 
                            onclickSubmit: function(params, postdata) { params.url = feeGridConf.apiUrl + '/' + postdata; },
                            afterSubmit: feeProcessAddEdit
                          },
                          { }, // search
                          { closeOnEscape:true } // view
                        );
            });
            {/literal}
        </script>

            <table id="paymentlist"><tr></tr></table> 
            <div id="paymentpager"></div>

            <table id="latefeelist"><tr></tr></table> 
            <div id="latefeepager"></div>
        <!-- End Late Fees Section -->
    </div>

    {if count($billInfo.expenses)}
    <div id="bill-expenses" class="tab_content">
     <script type="text/javascript" >
        {literal}

        $(document).ready(function() {

                var expGridConf = { 
                    apiUrl: 'api.php/expense',
                    {/literal}
                    title: '{t}Expenses{/t}',
                    colNames: [ 'Id', 'PrjId', '{t}Project{/t}', '{t}Description{/t}', '{t}Person{/t}', '{t}Date{/t}', '{t}Amount{/t}' ],
                    {literal}
                    colModel: [
                        {hidden:true,name:'exp_id', index:'exp_id'},
                        {hidden:true,name:'prj_id', index:'prj_id'},
                        {name:'prj_title', index:'prj_title', width:60, formatter:projectFmt},
                        {name:'exp_desc', index:'exp_desc', width:60},
                        {name:'pe_person', index:'pe_person', width:60, formatter: personFmt},
                        {name:'exp_date', index:'exp_date', width:40, align:"right",formatter: 'date', 
                         formatoptions: {newformat:'ShortDate'}, search: false },
                        {name:'exp_sum', index:'exp_sum', width:40, search: false, number: true, align:"right", summaryType:'sum' }
                    ]
                };

                $("#expenselist").jqGrid({
                    //scroll:1,
                    datatype: 'json',
                    url: expGridConf.apiUrl+'?bill_id='+{/literal}{$billInfo.bill_id}{literal},
                    editurl: expGridConf.apiUrl,
                    mtype: 'GET',
                    colNames: expGridConf.colNames,
                    colModel : expGridConf.colModel,
                    pager: '#expensepager',
                    rowNum:30,
                    sortname: 'exp_date',
                    sortorder: 'asc',
                    viewrecords: true,
                    jsonReader : { root: 'rows', repeatitems: false, id: 'exp_id' },
                    gridview: true,
                    caption: expGridConf.title,
                    width: 600,
                    height: 'auto',
                    sortable: true,
                    toppager: true
                });

                $("#expenselist").jqGrid('navGrid','#expensepager',
                        { 
                          cloneToTop: true,
                          add: false,
                          edit: false,
                          del: false, 
                          search:false, 
                          refresh:true,
                          }
                        );

        });
            
        {/literal}
        </script>
        
        <table id="expenselist"><tr></tr></table> 
        <div id="expensepager"></div>

        <table id="tblexpenses" cellspacing="0">
            <caption><em>{t}Expenses{/t}</em></caption>
            <thead>
                <tr>
                    <th> {t}Project{/t} </th>
                    <th> {t}Date{/t} </th>
                    <th> {t}Description{/t} </th>
                    <th class="number"> {t}Cost{/t} </th>
                    <!--<th> {t}Currency{/t} </th>-->
                    <th> {t}Person{/t} </th>
                </tr>
            </thead>
            <tbody>
                {section name=exp loop=$billInfo.expenses}
                <tr>
                    <td> {$billInfo.expenses[exp].prj_title|wash} </td>
                    <td> {$billInfo.expenses[exp].exp_date|wash|date_format:$smarty.const.PHPAGA_DATEFORMAT_SHORT} </td>
                    <td> {$billInfo.expenses[exp].exp_desc|wash} </td>
                    <td class="number"> {$config.MONETARY_SYMBOL}{$billInfo.expenses[exp].exp_sum|phpaga_formatamount|default:"&nbsp;"} </td>
                    <!--<td> {$billInfo.expenses[exp].curr_name|wash} </td>-->
                    <td> <a href="person.php?id={$billInfo.expenses[exp].pe_id}">{$billInfo.expenses[exp].pe_person}</a> </td>
                </tr>
                {/section}
            </tbody>
        </table>
    </div>
    {/if}

    {if isset($billInfo.operations.oprows) && is_array($billInfo.operations.oprows) && count($billInfo.operations.oprows) > 0}
    <div id="bill-assoctasks" class="tab_content">

        <script type="text/javascript" >
        {literal}

        $(document).ready(function() {
                
             function min2hrsFmt(cellvalue, options, rowObject) { return min2hrs(rowObject.minutes); }

             function opActionFmt(cellvalue, options, rowObject) {
                 op_id = rowObject.op_id;
                 {/literal}
                 actions = '<a class="tview" id="tv'+op_id+'" href="#"><img id="vimg'+op_id+'" src="img/phpaga/view.png" height="16" width="16" border="0" alt="{t}View{/t}" title="{t}View{/t}"></a>';
                 {literal}
                 return actions;
             }

            $("#oplist").jqGrid({
                //scroll:1,
                url:'api.php/operation?bill_id={/literal}{$billInfo.bill_id}{literal}',
                datatype: 'json',
                mtype: 'GET',
                colNames:[{/literal}'Id', 'bill id', '{t}Project{/t}', '{t}Task{/t}', '{t}Date{/t}','{t}Person{/t}', '{t}Category{/t}', '{t}Hours{/t}', '{t}Actions{/t}'{literal}],
                colModel :[ 
                  {hidden:true,name:'op_id', index:'op_id'},
                  {hidden:true,name:'bill_id', index:'bill_id'},
                  {name:'prj_title', index:'prj_title', width:60, formatter:projectFmt,
                   searchoptions: { sopt: ['cn','bw','eq','ew','ne'] }
                  },

                  {name:'op_desc', index:'op_desc', width:120, 
                    searchoptions: { sopt: ['cn','bw','eq','ew','ne'] }
                  },
                  {name:'op_start', index:'op_start', width:40, align:"right",formatter: 'date', 
                    //formatoptions: {newformat:'l, d.m.Y H:i'}, 
                    //formatoptions: {newformat:'l, d.m.Y'}, 
                    formatoptions: {newformat:'ShortDate'}, 
                    searchoptions: { sopt: ['eq','lt','le','gt','ge'],
                        dataInit : function (elem) { 
                            $(elem).datepicker({ changeMonth: true, changeYear: true, dateFormat: 'yy-mm-dd' }); } 
                    }
                  },
                  {name:'pe_person', index:'pe_person', width:50, search: false, formatter:personFmt },
                  {name:'category.title', index:'category.title', width:50, search: false },
                  {name:'op_duration', index:'op_duration', width:20, search: false, align:"right", formatter:min2hrsFmt/*, summaryType:'sum'*/},
                  {name:'can_edit', index:'can_edit', width: 20, search:false, align:"center", formatter:opActionFmt}
                ],
                pager: '#oppager',
                rowNum:30,
                sortname: 'op_start',
                sortorder: 'desc',
                viewrecords: true,
                jsonReader : { root: 'rows', repeatitems: false, id:"0"},
                gridview: true,
                caption: {/literal}'{t}Associated tasks{/t} ({t}Total duration{/t}: {$billInfo.operations.duration})'{literal},
                width: 900,
                height: 'auto',
                sortable: true,
                toppager: true
                    /*,
                grouping: true,
                groupingView: {
                    groupField: ['bill_id'],
                    groupSummary: [true],
                    groupColumnShow: [false],
                    groupText: ['<b>{0}</b>'],
                    groupCollapse: false,
                    groupOrder: ['asc']
                    }
                    */

            }); //.jqGrid('filterToolbar',{stringResult:true});

            jQuery("#oplist").jqGrid('navGrid','#oppager',
                    { add: false, 
                      edit: false, 
                      del:false, 
                      search:true, 
                      refresh:true,
                      },
                      {}, // edit
                      {}, // add
                      {}, // del
                      { closeOnEscape:true, multipleSearch:true }, // search
                      { closeOnEscape:true } // view
                    );
            
        });
            
        {/literal}
        </script>

        <table id="oplist"><tr></tr></table> 
        <div id="oppager"></div>

        </div>
        {/if}
    </div>

</div>
<!-- END {$smarty.template} -->
