<!-- BEGIN {$smarty.template} -->
<script type="text/javascript" >
    {literal}
    $(document).ready(function() {

        /* -------------------- Formatters -------------------- */

        function companyFmt(cellvalue, options, rowObject) { return '<a href="company.php?id='+rowObject.cpn_id+'">' + cellvalue + '</a>'; }

        function cpnActionFmt(cellvalue, options, rowObject) {
             var cpn_id = rowObject.cpn_id;
             {/literal}
             actions = '<a href="company.php?id='+cpn_id+'"><img src="img/phpaga/view.png" height="16" width="16" border="0" alt="{t}View{/t}" title="{t}View{/t}"></a>';

             {literal}
             return actions;
        }

        /* -------------------- Companies -------------------- */

        var cpnCategoriesStr = '{/literal}{$cpncats}{literal}';

        $("#cpnlist").jqGrid({
            //scroll:1,
            /* Initially, datatype needs to be set to 'local', later to 'json', and the 
               toolbar needs to be triggered. This seems to be the only way to enable default
               values in select dropdowns in the filterToolbar. */ 
            datatype: 'local',
            mtype: 'GET',
            colNames:[ 
                {/literal}'Id', '{t}Name{/t}', '{t}Address{/t}', '{t}City{/t}', 
                '{t}Country{/t}', '{t}Phone{/t}',  '{t}Email{/t}', '{t}Category{/t}', '{t}Actions{/t}'{literal}
            ],
            colModel :[ 
              {hidden:true,name:'cpn_id', index:'cpn_id'},
              {name:'cpn_name', index:'cpn_name', width:120, formatter:companyFmt,
               searchoptions: { sopt: ['cn','bw','eq','ew','ne'] }
              },
              {name:'cpn_address', index:'cpn_address', width:100,
               searchoptions: { sopt: ['cn','bw','eq','ew','ne'] }
              },

              {name:'cpn_city', index:'cpn_city', width:60,
               searchoptions: { sopt: ['cn','bw','eq','ew','ne'] }
              },

              {name:'country.name', index:'country.name', width:60,
               searchoptions: { sopt: ['cn','bw','eq','ew','ne'] }
              },

              {name:'cpn_phone', index:'cpn_phone', width:80,
               searchoptions: { sopt: ['cn','bw','eq','ew','ne'] }
              },

              {name:'cpn_email', index:'cpn_email', width:80,
               searchoptions: { sopt: ['cn','bw','eq','ew','ne'] }
              },




              {name:'category.id', index:'category.id', width:50, 
                  search: true , formatter:'select', stype: 'select',
                  edittype:'select', editoptions: { value: cpnCategoriesStr },
                  searchoptions:{ sopt: ['eq'], value: cpnCategoriesStr }
              },
              {name:'actions', index:'actions', width: 20, search:false, align:"center", formatter:cpnActionFmt}
            ],
            pager: '#cpnpager',
            rowNum:30,
            sortname: 'cpn_name',
            sortorder: 'asc',
            viewrecords: true,
            jsonReader : { root: 'rows', repeatitems: false, id:'cpn_id' },
            gridview: true,
            caption: {/literal}'{t}Companies{/t}'{literal},
            width: 800,
            height: 'auto',
            sortable: true,
            toppager: true
        }).jqGrid('filterToolbar', { autosearch: true, stringResult:true, markedsearch:true });

        $('#cpnlist').jqGrid()[0].triggerToolbar();
        $('#cpnlist').setGridParam({datatype: 'json', url:'api.php/company'});
        $('#cpnlist')[0].triggerToolbar();

        $.extend($.jgrid.del, { mtype: 'DELETE', serializeDelData: function() { return ""; } });

        function processAddEdit(response, postdata) {
                var success = true;
                var message = ""
                var json = eval('(' + response.responseText + ')');
                if(json.errors) {
                    success = false;
                    for(i=0; i < json.errors.length; i++) {
                        message += json.errors[i] + '<br/>';
                    }
                }
                var new_id = json.obj_id || -1;
                return [success,message,new_id];
        }

        var cpnApiUrl = 'api.php/company';
        var delOptions = { 
            url: cpnApiUrl, 
            onclickSubmit: function(params, postdata) { params.url = cpnApiUrl + '/' + postdata; },
            afterSubmit: processAddEdit
        };


        jQuery("#cpnlist").jqGrid('navGrid','#cpnpager',
                { 
                  cloneToTop: true,
                  add: false, 
                  edit: false, 
                  del:true, 
                  search:true, 
                  refresh:true,
                  },
                  {}, // edit
                  {}, // add
                  delOptions, // del
                  { closeOnEscape:true, multipleSearch:true }, // search
                  { closeOnEscape:true } // view
                );

        {/literal}
        {if $perm_companies}
        {literal}
        var addBtn = { caption:"",
                       buttonicon:"ui-icon-plus", 
                       onClickButton: function() { location.href="add_company.php"; }, 
                       position:"first"
                    };
        jQuery("#cpnlist").jqGrid('navButtonAdd', '#cpnpager', addBtn);
        jQuery("#cpnlist").jqGrid('navButtonAdd', '#cpnlist_toppager', addBtn);
        {/literal}
        {/if}
        {literal}

    });
        
{/literal}
</script>

<div class="ui-layout-center">
    <table id="cpnlist"><tr></tr></table> 
    <div id="cpnpager"></div>
</div>
<!-- END {$smarty.template} -->
