<!-- BEGIN {$smarty.template} -->

<script type="text/javascript" >
    {literal}

    $(document).ready(function() {

        var ctrApiUrl = 'api.php/country';

        function ctrFlagFmt(cellvalue, options, rowObject) {
             var flagcode = rowObject.ctr_code.toLowerCase();
             return '<img src="img/flags/'+flagcode+'.png" height="16" width="16" border="0">';
        }

        $.extend($.jgrid.edit, {
                closeAfterEdit: true,
                closeAfterAdd: true,
                //ajaxEditOptions: { contentType: "application/json" },
                serializeEditData: function(data) {
                        delete data.oper;
                        return JSON.stringify(data);
                }
        });

        $.extend($.jgrid.del, { mtype: 'DELETE', serializeDelData: function() { return ""; } });

        var editOptions = { 
            url: ctrApiUrl, 
            mtype: 'PUT', 
            onclickSubmit: function(params, postdata) {  
                params.url = ctrApiUrl+'/'+jQuery("#ctrlist").getGridParam('selrow'); 
            },
            afterSubmit: processAddEdit
        };
        var addOptions = { url: ctrApiUrl, mtype: "POST",
            afterSubmit: processAddEdit
        };
        var delOptions = { 
            url: ctrApiUrl, 
            onclickSubmit: function(params, postdata) { params.url = ctrApiUrl + '/' + postdata; },
            afterSubmit: processAddEdit
        };

        function processAddEdit(response, postdata) {
        	var success = true;
        	var message = ""
        	var json = eval('(' + response.responseText + ')');
        	if(json.errors) {
        		success = false;
        		for(i=0; i < json.errors.length; i++) {
        			message += json.errors[i] + '<br/>';
        		}
        	}
                var new_id = json.obj_id;
        	return [success,message,new_id];
        }

        $("#ctrlist").jqGrid({
            //scroll:1,
            datatype: 'json',
            url: 'api.php/country',
            editurl: 'api.php/country',
            mtype: 'GET',
            colNames:[ 
                {/literal}'Id', '', '{t}Country{/t}', '{t}Country code{/t}'{literal}
            ],
            colModel :[ 
            { hidden:true,
              name:'ctr_id', 
              index:'ctr_id'
            },
            { name:'flag', 
              index:'flag', 
              width:20, 
              search: false, 
              formatter:ctrFlagFmt
            },
            { name:'ctr_name', 
              index:'ctr_name', 
              width:100, 
              editable: true, 
              editrules: { required: true },
              editoptions: { maxlength:30 },
              searchoptions: { sopt: ['cn','bw','eq','ew','ne'] } 
            },
            { name:'ctr_code', 
              index:'ctr_code', 
              width:20, 
              editable: true, 
              editrules: { required: true },
              editoptions: { size:4, maxlength:4 },
              searchoptions: { sopt: ['cn'] } 
            }
            ],
            pager: '#ctrpager',
            rowNum:30,
            sortname: 'ctr_name',
            sortorder: 'asc',
            viewrecords: true,
            jsonReader : { root: 'rows', repeatitems: false, id:"ctr_id"},
            gridview: true,
            caption: {/literal}'{t}Countries{/t}'{literal},
            width: 400,
            height: 'auto',
            sortable: true,
            toppager: true
        }).jqGrid('filterToolbar',{stringResult:true});

        jQuery("#ctrlist").jqGrid('navGrid','#ctrpager',
                { 
                  cloneToTop: true,
                  add: true, 
                  edit: true, 
                  del:true, 
                  search:true, 
                  refresh:true,
                  },
                  editOptions, addOptions, delOptions,
                  { closeOnEscape:true, multipleSearch:true }, // search
                  { closeOnEscape:true } // view
                );
    });
{/literal}
</script>

<div class="ui-layout-center">

    <table id="ctrlist"><tr></tr></table> 
    <div id="ctrpager"></div>

</div>
<!-- END {$smarty.template} -->
