<!-- BEGIN {$smarty.template} -->
<div class="ui-layout-center">

{if strlen($errormsg)}
{$errormsg}
{/if}

{if count($dbupgrade.files)}

<div class="infomsg dbupgrade">
  <div>{t}Database upgrade available{/t}</div>

  <p>{t 1=$dbversion}The version of the installed database is %1{/t}</p>
  <p>{t 1=$dbupgrade.maxversion}The currently available database version is %1.{/t}</p>
  <p>{t}The following files need to be applied to the database to bring structure and core data up to date:{/t}</p>

  <ul>
    {foreach item=f from=$dbupgrade.files}
    <li>{$f.name|wash} ({$f.size|phpaga_byteformat})</li>
    {/foreach}
  </ul>

  <form action="dbupgrade.php" method="post">
    <input type="hidden" name="action" value="1">
    <input type="submit" value="{t}Proceed with the upgrade{/t}">
  </form>
</div>

{else}
<div class="infomsg">
  <div>{t}No database upgrade necessary{/t}</div>
  <p>{t 1=$dbversion}The version of the installed database is %1.{/t}</p>
  <p>{t}Structure and core data are up to date.{/t}</p>
</div>
{/if}

</div>
<!-- END {$smarty.template} -->
