<!-- BEGIN {$smarty.template} -->
<div class="ui-layout-center">

{if isset($STATUSMSG) && strlen($STATUSMSG)}
{$STATUSMSG}
{/if}

<form action="{$smarty.const.PHPAGA_SELF}" method="post" name="form">
<input type="hidden" name="mat_id" value="{$matinfo.mat_id}">
<input type="hidden" name="prj_id" value="{$matinfo.prj_id}">

{if (!is_array($select_person)) || (count($select_person) == 0)}
<div class="msg">
{if $is_owner_or_manager}
{t}Materials can only be tracked for members. This project does currently not have any members.{/t}
{else}
{t}You are not a member of this project.{/t}
{/if}
</div>
{else}
{literal}
<script type="text/javascript">

    $(document).ready(function() {

        $("#prodselectbox").dialog({
                resizable: true,
                modal: true,
                autoOpen: false,
                width:'auto',
                height:300
        });

        $('.prodsel').live('click', function() {
            $('#prodselectbox').dialog("open");
            return false;
        });

        $('.prodselok').live('click', function() {
            var prod_code =  $(this).attr('id').replace(/^prs/g, "");
            $('#prodselectbox').dialog("close"); 
            $('#mat_prodcode').val(prod_code);
            $('#mat_name').val('');
            getMatProdInfo();
            return false;
        });
        
        $('.prodcode').live('focusout', function() {
            getMatProdInfo();
            return false;
        });


        function getMatProdInfo() {
            if ($('#mat_prodcode').val()=='')
                return false;

            $.ajax({
                url: 'service.php?saction=40&prod_code='+$('#mat_prodcode').val(),
                type: 'GET',
                dataType: 'json',
                cache: false,
                success: function(result) {
                    if (result == null) {
                        alert('An unexpected error has occurred.');
                    } else if (result.status != 0 && result.status != 30) {
                        alert(result.message);
                    } else {

                        if (result.status == 0) {
                            $('#mat_name').val(result.data.prod_name);
                            $('#mat_price').val(result.data.prod_price);
                            $('#unitnetprice').val(result.data.prod_price);
                            $('#unitnetpricetxt').html(result.data.prod_price);
                            $('#prod_id').val(result.data.prod_id);

                            if ($('#mat_qty').val().length == 0)
                                $('#mat_qty').val(1);
                        }
                    }
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {

                    msg = textStatus;
                    if (textStatus == 'parsererror')
                        msg = 'Invalid response from the server.';

                    alert(msg);
                }
            });
        };

        $('#mat_qty').focusout(function() {
            var qty = $('#mat_qty').val();
            var unitprice = $('#unitnetprice').val();
            if (isNumeric(qty) && isNumeric(unitprice)) {
                var res = (qty * unitprice);
                if (res.toFixed)
                    res = res.toFixed(2);
                $('#mat_price').val(res);
            }
            return false;
        });

    });
</script>
{/literal}

<table cellspacing="0">
  <caption><em>{if !strlen($matinfo.mat_id)}{t}Add material{/t}{else}{t}Edit material{/t}{/if}</em></caption>
  <tr>
    <th colspan="4">{t}Project{/t}</th>
  </tr>

  <tr>
    <td class="label"> {t}Project{/t}: </td>
    <td class="data" colspan="3"> <a href="project.php?id={$prjInfo.prj_id}">{$prjInfo.prj_title|wash|default:"&nbsp;"}</a> </td>
  </tr>
  <tr>
    <td class="label"> {t}Customer{/t}: </td>
    <td class="data" colspan="3"> <a href="company.php?id={$prjInfo.cpn_id}">{$prjInfo.cpn_name|wash|default:"&nbsp;"}</a> </td>
  </tr>
  <tr>
    <td class="label"> {t}Start date{/t}: </td>
    <td class="data"> {$prjInfo.prj_startdate|wash|date_format:$smarty.const.PHPAGA_DATEFORMAT_LONG|default:"&nbsp;"} </td>
    <td class="label"> {t}Projected end{/t}: </td>
    <td class="data"> {$prjInfo.prj_estimatedend|wash|default:"&nbsp;"} </td>
  </tr>
  <tr>
    <td class="label"> {t}Category{/t}: </td>
    <td class="data"> {$prjInfo.prjcat_title|wash|default:"&nbsp;"} </td>
    <td class="label"> {t}Hours{/t}: </td>
    <td class="data"> {$HOURS_SO_FAR|default:"&nbsp;"} </td>
  </tr>

  <tr>
    <th colspan="4">{t}Material{/t}</th>
  </tr>

  <tr>
    <td class="label"> {t}Person{/t}: </td>
    <td class="data" colspan="3">
      <select name="pe_id">
        {html_options options=$select_person selected=$matinfo.pe_id}
      </select>
    </td>
  </tr>

  <tr>
    <td class="label"> {t}Product code{/t}: </td>
    <td colspan="3" class="data">
      <input type="text" class="tinput prodcode" name="mat_prodcode" value="{$matinfo.mat_prodcode|wash}" size="18" maxlength="18" id="mat_prodcode">
      <input type="hidden" name="prod_id" value="{$matinfo.prod_id|wash}" id="prod_id">
      <a class="ptr prodsel" href="#"><img alt="{t}Products{/t}" src="img/phpaga/catalog.png" width="16" height="16"></a>

    </td>
  </tr>

  <tr>
      <td class="label"> {t}Material{/t}: </td>
      <td class="data" colspan="3">
          <input type="text" class="tinput" name="mat_name" value="{$matinfo.mat_name|wash}" size="60" maxlength="100" id="mat_name">
      </td>
  </tr>
  <tr>
      <td class="label"> {t}Qty.{/t}: </td>
      <td class="data">
          <input type="text" class="tinput number" name="mat_qty" value="{$matinfo.mat_qty|wash}" size="4" maxlength="10" id="mat_qty">
      </td>
      <td class="label"> {t}Unit price net{/t}: <input type="hidden" name="unitnetprice" value="" id="unitnetprice"></td>
      <td class="data" id="unitnetpricetxt"> </td>
  </tr>

  <tr>
    <td class="label"> {t}Price{/t}: </td>
    <td class="data">
      <input type="text" class="tinput number" name="mat_price" value="{$matinfo.mat_price|wash}" size="12" maxlength="12" id="mat_price">
    </td>
    <td class="label"> {t}Currency{/t}: </td>
    <td class="data">
      <select name="curr_id">
        {html_options options=$select_curr selected=$matinfo.curr_id}
      </select>
    </td>
  </tr>
  <tr>
    <td class="label"> {t}Description{/t}: </td>
    <td class="data" colspan="3">
      <textarea name="mat_desc" cols="50" rows="6" wrap="virtual">{$matinfo.mat_desc|wash}</textarea>
    </td>
  </tr>
  <tr>
    <td colspan="4"><input type="submit" name="submit" value="{t}Submit{/t}"> <input type="button" onclick="location.href='project.php?id={$prjInfo.prj_id}';" value="{t}Cancel{/t}"></td>
  </tr>
</table>

<div id="prodselectbox" class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-draggable" title="{t}Products{/t}">

    <input type="hidden" id="prodselectdest" name="prodselectdest" value="">
    <table class="prodselect" cellspacing="0">
        <caption><em>{t}Products{/t}</em></caption>
        <thead>
            <tr>
                <th> {t}Product code{/t} </th>
                <th> {t}Name{/t} </th>
                <th> {t}Price{/t} </th>
                <th> {t}Stock{/t} </th>
                <th> {t}Category{/t} </th>
            </tr>
        </thead>
        <tbody>
            {section name=pr loop=$products}
            <tr class="ptr prodselok" id="prs{$products[pr].prod_code|wash}">
                <td> {$products[pr].prod_code|wash|default:"&nbsp;"} </td>
                <td> {$products[pr].prod_name|wash|default:"&nbsp;"} </td>
                <td class="number"> {$products[pr].prod_price|wash|phpaga_formatamount|default:"&nbsp;"} </td>
                <td class="number"> {$products[pr].prod_stock|wash|default:"&nbsp;"} </td>
                <td> {$products[pr].prcat_title|wash|default:"&nbsp;"} </td>
            </tr>
            {/section}
        </tbody>
    </table>
</div>

</form>

{literal}
<script type="text/javascript">
document.getElementById('mat_prodcode').focus();
</script>
{/literal}

{/if}

</div>
<!-- END {$smarty.template} -->
