<!-- BEGIN {$smarty.template} -->
<div class="ui-layout-center">

<table id="matdetailstab" cellspacing="0">
    <tr>
        <th>{t}Product code{/t}: </th>
        <td>{$matinfo.mat_prodcode|wash}</td>
        <th>{t}Product name{/t}: </th>
        <td>{$matinfo.mat_name|wash}</td>
    </tr>
    <tr>
        <th>{t}Quantity{/t}: </th>
        <td> {$matinfo.mat_qty|wash} </td>
        <th>{t}Price{/t}: </td>
        <td>{$matinfo.mat_price|wash} </td>
    </tr>
    <tr>
        <th>{t}Project{/t}: </th>
        <td>{$prjinfo.prj_title|wash} </td>
        <th>{t}Person{/t}: </th>
        <td>{$matinfo.pe_person|wash} </td>
    </tr>
    <tr>
        <th>{t}Date{/t}: </th>
        <td colspan="3"> {$matinfo.mat_added|date_format:$smarty.const.PHPAGA_DATETIMEFORMAT_LONG}</td>
    </tr>
    <tr>
        <th>{t}Description{/t}:</th>
        <td colspan="3">{$matinfo.mat_desc|wash|nl2br}</td>
    </tr>
</table>

</div>
<!-- END {$smarty.template} -->
