<!-- BEGIN {$smarty.template} -->

{if (isset($type_err) && $type_err)}
<script type="text/javascript" >
    {literal}
    $(document).ready(function() {
            $(".msgdialog").dialog({ 
                modal: true, 
                buttons: { OK: function() { $(this).dialog( "close" ); } },
                open: function () {
                        $(this).parents(".ui-dialog:first").find(".ui-dialog-titlebar").addClass("ui-state-error");
                    }
            });
    });
{/literal}
</script>

<div class="msgdialog" title="{$TITLE|wash}">
  {$MESSAGE|nl2br}
  {if $smarty.const.PHPAGA_ERR_VERBOSE && isset($debugmessage) && strlen($debugmessage)}
  <h2>{t}Debug message{/t}</h2>
  {$debugmessage|wash|nl2br}
  {/if}
  {if $smarty.const.PHPAGA_ERR_VERBOSE && isset($backtrace) && count($backtrace)}
  <h2>{t}Backtrace{/t}</h2>
  {foreach from=$backtrace item=b}
  {t}File{/t}: {$b.file|wash},
  {t}Line{/t}: {$b.line|wash},
  {t}Function{/t}: {$b.function|wash}
  {if isset($b.class) && strlen($b.class)}
  , {t}Class{/t}: {$b.class|wash}
  {/if}
  {if isset($b.type) && strlen($b.type)}
  , {t}Type{/t}: {$b.type|wash}
  {/if}
  <br>
  {/foreach}
  {/if}
</div>

{else}
<script type="text/javascript" >
    {literal}
    $(document).ready(function() {
    {/literal}
        $("#messagecontainer").append('<div class="infomsg">\
  <div>{$TITLE|wash}</div>\
  {$MESSAGE|wash|nl2br}\
  {if $smarty.const.PHPAGA_ERR_VERBOSE && isset($debugmessage) && strlen($debugmessage)}\
  <h2>{t}Debug message{/t}</h2>\
  {$debugmessage|wash|nl2br}\
  {/if}\
  {if $smarty.const.PHPAGA_ERR_VERBOSE && isset($backtrace) && count($backtrace)}\
  <h2>{t}Backtrace{/t}</h2>\
  {foreach from=$backtrace item=b}\
  {t}File{/t}: {$b.file|wash},\
  {t}Line{/t}: {$b.line|wash},\
  {t}Function{/t}: {$b.function|wash}\
  {if isset($b.class) && strlen($b.class)}\
  , {t}Class{/t}: {$b.class|wash}\
  {/if}\
  {if isset($b.type) && strlen($b.type)}\
  , {t}Type{/t}: {$b.type|wash}\
  {/if}\
  <br>\
  {/foreach}\
  {/if}\
</div>'); 

    {literal}
    });
    {/literal}
</script>

{/if}

<!-- END {$smarty.template} -->
