<!-- BEGIN {$smarty.template} -->
<div class="ui-layout-center">

{if (isset($humancost.details) && (count($humancost.details) > 0))}
<table cellspacing="0">
    <caption><em>{t}Human cost{/t}</em></caption>
    <thead>
        <tr>
            <th> {t}Person{/t} </th>
            <th> {t}Duration{/t} </th>
            <th> {t}Hourly wage rate{/t} </th>
            <th> {t}Cost{/t} </th>
        </tr>
    </thead>
    <tbody>
        {section name=members loop=$humancost.details}
        <tr>
            <td> <a href="person.php?id={$humancost.details[members].pe_id}">{$humancost.details[members].pe_person|wash}</a> </td>
            <td class="time"> {$humancost.details[members].sum_duration|phpaga_minutes2duration} </td>
            <td class="number"> {$humancost.details[members].prjmem_hourlyrate|wash|phpaga_formatamount} </td>
            <td class="number"> {$humancost.details[members].amount|phpaga_formatamount} </td>
        </tr>
        {/section}
    </tbody>
    <tfoot>
        <tr>
            <td> {t}Total{/t} </td>
            <td class="time"> {$humancost.total_duration|phpaga_minutes2duration} </td>
            <td>  </td>
            <td class="number"> {$humancost.total_amount|phpaga_formatamount} </td>
        </tr>
    </tfoot>
</table>
{/if}

</div>
<!-- END {$smarty.template} -->
