<!-- BEGIN {$smarty.template} -->
<script type="text/javascript" >
    {literal}
    $(document).ready(function() {

        /* -------------------- Formatters -------------------- */

        function companyFmt(cellvalue, options, rowObject) {
            if ((rowObject.company.id != undefined) && (rowObject.company.id!=null)) 
                return '<a href="company.php?id='+rowObject.cpn_id+'">' + cellvalue + '</a>';
            else
                return '';
        }

        function peActionFmt(cellvalue, options, rowObject) {
             var pe_id = rowObject.pe_id;
             {/literal}
             actions = '<a href="person.php?id='+pe_id+'"><img src="img/phpaga/view.png" height="16" width="16" border="0" alt="{t}View{/t}" title="{t}View{/t}"></a>';

             {literal}
             return actions;
        }

        /* -------------------- Companies -------------------- */

        var peCategoriesStr = '{/literal}{$pecats}{literal}';

        $("#pelist").jqGrid({
            //scroll:1,
            /* Initially, datatype needs to be set to 'local', later to 'json', and the 
               toolbar needs to be triggered. This seems to be the only way to enable default
               values in select dropdowns in the filterToolbar. */ 
            datatype: 'local',
            mtype: 'GET',
            colNames:[ 
                {/literal}'Id', '{t}Last name{/t}', '{t}First name{/t}', '{t}Address{/t}', '{t}City{/t}', 
                '{t}Country{/t}', '{t}Home phone{/t}', '{t}Work phone{/t}', '{t}Email{/t}', '{t}Company{/t}', '{t}Category{/t}', '{t}Actions{/t}'{literal}
            ],
            colModel :[ 
              {hidden:true,name:'pe_id', index:'pe_id'},
              {name:'pe_lastname', index:'pe_lastname', width:120,
               searchoptions: { sopt: ['cn','bw','eq','ew','ne'] }
              },
              {name:'pe_firstname', index:'pe_firstname', width:120,
               searchoptions: { sopt: ['cn','bw','eq','ew','ne'] }
              },
              {name:'pe_address', index:'pe_address', width:100,
               searchoptions: { sopt: ['cn','bw','eq','ew','ne'] }
              },

              {name:'pe_city', index:'pe_city', width:60,
               searchoptions: { sopt: ['cn','bw','eq','ew','ne'] }
              },

              {name:'country.name', index:'country.name', width:60,
               searchoptions: { sopt: ['cn','bw','eq','ew','ne'] }
              },

              {name:'pe_phonehome', index:'pe_phonehome', width:80,
               searchoptions: { sopt: ['cn','bw','eq','ew','ne'] }
              },

              {name:'pe_phonework', index:'pe_phonework', width:80,
               searchoptions: { sopt: ['cn','bw','eq','ew','ne'] }
              },
              {name:'pe_email', index:'pe_email', width:80,
               searchoptions: { sopt: ['cn','bw','eq','ew','ne'] }
              },

              {name:'company.name', index:'company.name', width:120, formatter:companyFmt,
               searchoptions: { sopt: ['cn','bw','eq','ew','ne'] }
              },

              {name:'category.id', index:'category.id', width:50, 
                  search: true , formatter:'select', stype: 'select',
                  edittype:'select', editoptions: { value: peCategoriesStr },
                  searchoptions:{ sopt: ['eq'], value: peCategoriesStr }
              },
              {name:'actions', index:'actions', width: 20, search:false, align:"center", formatter:peActionFmt}
            ],
            pager: '#pepager',
            rowNum:30,
            sortname: 'pe_lastname',
            sortorder: 'asc',
            viewrecords: true,
            jsonReader : { root: 'rows', repeatitems: false, id:'pe_id' },
            gridview: true,
            caption: {/literal}'{t}Persons{/t}'{literal},
            width: 800,
            height: 'auto',
            sortable: true,
            toppager: true
        }).jqGrid('filterToolbar', { autosearch: true, stringResult:true, markedsearch:true });

        $('#pelist').jqGrid()[0].triggerToolbar();
        $('#pelist').setGridParam({datatype: 'json', url:'api.php/person'});
        $('#pelist')[0].triggerToolbar();

        $.extend($.jgrid.del, { mtype: 'DELETE', serializeDelData: function() { return ""; } });

        function processAddEdit(response, postdata) {
                var success = true;
                var message = ""
                var json = eval('(' + response.responseText + ')');
                if(json.errors) {
                    success = false;
                    for(i=0; i < json.errors.length; i++) {
                        message += json.errors[i] + '<br/>';
                    }
                }
                var new_id = json.obj_id || -1;
                return [success,message,new_id];
        }

        var peApiUrl = 'api.php/person';
        var delOptions = { 
            url: peApiUrl, 
            onclickSubmit: function(params, postdata) { params.url = peApiUrl + '/' + postdata; },
            afterSubmit: processAddEdit
        };


        jQuery("#pelist").jqGrid('navGrid','#pepager',
                { 
                  cloneToTop: true,
                  add: false, 
                  edit: false, 
                  del:true, 
                  search:true, 
                  refresh:true,
                  },
                  {}, // edit
                  {}, // add
                  delOptions, // del
                  { closeOnEscape:true, multipleSearch:true }, // search
                  { closeOnEscape:true } // view
                );

        {/literal}
        {if $perm_persons}
        {literal}
        var addBtn = { caption:"",
                       buttonicon:"ui-icon-plus", 
                       onClickButton: function() { location.href="add_person.php"; }, 
                       position:"first"
                    };
        jQuery("#pelist").jqGrid('navButtonAdd', '#pepager', addBtn);
        jQuery("#pelist").jqGrid('navButtonAdd', '#pelist_toppager', addBtn);
        {/literal}
        {/if}
        {literal}

    });
        
{/literal}
</script>

<div class="ui-layout-center">
    <table id="pelist"><tr></tr></table> 
    <div id="pepager"></div>
</div>
<!-- END {$smarty.template} -->