<!-- BEGIN {$smarty.template} -->
<script type="text/javascript" >
    {literal}
    $(document).ready(function() {

        /* -------------------- Formatters -------------------- */

        function companyFmt(cellvalue, options, rowObject) { return '<a href="company.php?id='+rowObject.customer.id+'">' + cellvalue + '</a>'; }
        function min2hrsFmt(cellvalue, options, rowObject) { return min2hrs(rowObject.minutes); }

        function prjActionFmt(cellvalue, options, rowObject) {
             var prj_id = rowObject.prj_id;
             {/literal}
             actions = '<a href="project.php?id='+prj_id+'"><img src="img/phpaga/view.png" height="16" width="16" border="0" alt="{t}View{/t}" title="{t}View{/t}"></a>'
             + '<a href="add_operation.php?prj_id='+prj_id+'" class="ptr tadd" id="ta'+prj_id+'"><img src="img/phpaga/task_add.png" height="16" width="16" border="0" alt="{t}Add task{/t}" title="{t}Add task{/t}"></a>';

             {literal}
             return actions;
        }

        /* -------------------- Projects -------------------- */

        var prjStatusStr = '{/literal}{$prjstats}{literal}';
        var prjStatusStrEdit = '{/literal}{$prjstats_edit}{literal}';
        var prjCategoriesStr = '{/literal}{$prjcats}{literal}';

        $("#prjlist").jqGrid({
            //scroll:1,
            /* Initially, datatype needs to be set to 'local', later to 'json', and the 
               toolbar needs to be triggered. This seems to be the only way to enable default
               values in select dropdowns in the filterToolbar. */ 
            datatype: 'local',
            mtype: 'GET',
            colNames:[ 
                {/literal}'Id', '{t}Title{/t}', '{t}Status{/t}', '{t}Customer{/t}', '{t}Priority{/t}', 
                '{t}Start{/t}', '{t}Deadline{/t}',  '{t}End{/t}', '{t}Overdue{/t}', '{t}Category{/t}', '{t}Hours{/t}', '{t}Actions{/t}'{literal}
            ],
            colModel :[ 
              {hidden:true,name:'prj_id', index:'prj_id'},
              {name:'prj_title', index:'prj_title', width:60, formatter:projectFmt,
               searchoptions: { sopt: ['cn','bw','eq','ew','ne'] }
              },
              {name:'status.id', index:'status.id', width:30,
                  search: true , formatter:'select', stype: 'select',
                  edittype:'select', editoptions: { value: prjStatusStrEdit },
                  searchoptions:{ sopt: ['eq'], value: prjStatusStr }
              },
              {name:'customer.name', index:'customer.name', width:100, formatter:companyFmt,
               searchoptions: { sopt: ['cn','bw','eq','ew','ne'] }
              },
              {name:'prj_priority', index:'prj_priority', width:20, align:"right"}, 
              {name:'prj_startdate', index:'prj_startdate', width:40, align:"right",formatter: 'date', 
                formatoptions: {newformat:'ShortDate'}, 
                searchoptions: { sopt: ['eq','lt','le','gt','ge'],
                    dataInit : function (elem) { 
                        $(elem).datepicker({ changeMonth: true, changeYear: true, dateFormat: 'yy-mm-dd' }); } 
                }
              },
              {name:'prj_deadline', index:'prj_deadline', width:40, align:"right",formatter: 'date', 
                formatoptions: {newformat:'ShortDate'}, 
                searchoptions: { sopt: ['eq','lt','le','gt','ge'],
                    dataInit : function (elem) { 
                        $(elem).datepicker({ changeMonth: true, changeYear: true, dateFormat: 'yy-mm-dd' }); } 
                }
              },
              {name:'prj_enddate', index:'prj_enddate', width:40, hidden:true,formatter: 'date', 
                searchoptions: { sopt: ['eq','lt','le','gt','ge'],
                    searchhidden: true,
                    dataInit : function (elem) { 
                        $(elem).datepicker({ changeMonth: true, changeYear: true, dateFormat: 'yy-mm-dd' }); } 
                }
              },
              {name:'is_overdue', index:'is_overdue', width:10,formatter: 'checkbox', search: false}, 
              {name:'category.id', index:'category.id', width:50, 
                  search: true , formatter:'select', stype: 'select',
                  //sorttype: function(cell, obj) { return categories[cell]; },
                  edittype:'select', editoptions: { value: prjCategoriesStr },
                  searchoptions:{ sopt: ['eq'], value: prjCategoriesStr }
              },
              {name:'minutes', index:'minutes', width:30, search: false, formatter:min2hrsFmt, align:"right", sortable:false },
              {name:'actions', index:'actions', width: 20, search:false, align:"center", formatter:prjActionFmt}
            ],
            pager: '#prjpager',
            rowNum:30,
            sortname: 'prj_title',
            sortorder: 'asc',
            viewrecords: true,
            jsonReader : { root: 'rows', repeatitems: false, id:'prj_id' },
            gridview: true,
            caption: {/literal}'{t}Projects{/t}'{literal},
            width: 800,
            height: 'auto',
            sortable: true,
            toppager: true
        }).jqGrid('filterToolbar', { autosearch: true, stringResult:true, markedsearch:true });

        $('#prjlist').jqGrid()[0].triggerToolbar();
        $('#prjlist').setGridParam({datatype: 'json', url:'api.php/project'});
        $('#prjlist')[0].triggerToolbar();

        jQuery("#prjlist").jqGrid('navGrid','#prjpager',
                { 
                  cloneToTop: true,
                  add: false, 
                  edit: false, 
                  del:false, 
                  search:true, 
                  refresh:true,
                  },
                  {}, // edit
                  {}, // add
                  {}, // del
                  { closeOnEscape:true, multipleSearch:true }, // search
                  { closeOnEscape:true } // view
                );

        {/literal}
        {if $perm_projects}
        {literal}
        var addBtn = { caption:"",
                       buttonicon:"ui-icon-plus", 
                       onClickButton: function() { location.href="add_project.php"; }, 
                       position:"first"
                    };
        jQuery("#prjlist").jqGrid('navButtonAdd', '#prjpager', addBtn);
        jQuery("#prjlist").jqGrid('navButtonAdd', '#prjlist_toppager', addBtn);
        {/literal}
        {/if}
        {literal}

        var printBtn = { caption:{/literal}"{t}Print{/t}"{literal}, 
                         buttonicon:"ui-icon-print", 
                         onClickButton: function() {
                             var ids = $("#prjlist").getDataIDs();
                             location.href="projects_pdf.php?prj_id_in="+ids.join(",");
                       }, 
                       position:"last"
        };
        jQuery("#prjlist").jqGrid('navButtonAdd', '#prjpager', printBtn);
        jQuery("#prjlist").jqGrid('navButtonAdd', '#prjlist_toppager', printBtn);
    });
        
{/literal}
</script>

<div class="ui-layout-center">
    <table id="prjlist"><tr></tr></table> 
    <div id="prjpager"></div>
</div>
<!-- END {$smarty.template} -->
