<!-- BEGIN {$smarty.template} -->
<div class="ui-layout-center">

<form action="{$smarty.const.PHPAGA_SELF}" method="get" name="form">
<input type="hidden" name="order" value="{$ORDER}">

<fieldset class="search">
  <legend>{t}Search persons{/t}</legend>

  <label for="pe_lastname">{t}Last name{/t}:</label>
  <input class="tinput" type="text" id="pe_lastname" name="pe_lastname" value="{$person.pe_lastname|wash}" size="30" maxlength="100">
  <br>

  <label for="pe_firstname">{t}First name{/t}:</label>
  <input class="tinput" type="text" id="pe_firstname" name="pe_firstname" value="{$person.pe_firstname|wash}" size="30" maxlength="50">
  <br>

  <label for="pe_address">{t}Address{/t}:</label>
  <input class="tinput" type="text" id="pe_address" name="pe_address" value="{$person.pe_address|wash}" size="50" maxlength="250">
  <br>

  <label for="pe_address2">{t}Address 2{/t}:</label>
  <input class="tinput" type="text" id="pe_address2" name="pe_address2" value="{$person.pe_address2|wash}" size="50" maxlength="250">
  <br>

  <label for="pe_zip">{t}ZIP{/t}:</label>
  <input class="tinput" type="text" id="pe_zip" name="pe_zip" value="{$person.pe_zip|wash}" size="30" maxlength="30">
  <br>

  <label for="pe_city">{t}City{/t}:</label>
  <input class="tinput" type="text" id="pe_city" name="pe_city" value="{$person.pe_city|wash}" size="30" maxlength="100">
  <br>

  <label for="pe_region">{t}Region{/t}:</label>
  <input class="tinput" type="text" id="pe_region" name="pe_region" value="{$person.pe_region|wash}" size="30" maxlength="40">
  <br>

  <label for="ctr_id">{t}Country{/t}:</label>
  <select id="ctr_id" name="ctr_id">
    {html_options options=$select_ctr selected=$person.ctr_id}
  </select>
  <br>

  <label for="cpn_id">{t}Company{/t}:</label>
  <select id="cpn_id" name="cpn_id">
    {html_options options=$select_cpn selected=$person.cpn_id}
  </select>
  <br>

  <label for="jcat_id">{t}Job category{/t}:</label>
  <select id="jcat_id" name="jcat_id">
    {html_options options=$select_jcat selected=$person.jcat_id}
  </select>
  <br>

  <label for="pecat_id">{t}Person Category{/t}:</label>
  <select id="pecat_id" name="pecat_id">
    {html_options options=$select_pecat selected=$person.pecat_id}
  </select>
  <br>

  <input type="submit" name="submit" value="{t}Search{/t}">

</fieldset>
</form>

</div>
<!-- END {$smarty.template} -->
