<!-- BEGIN {$smarty.template} -->
<div class="ui-layout-center">

<form action="{$smarty.const.PHPAGA_SELF}" method="get" name="form">

  <fieldset class="search">
    <legend>{t}Search products{/t}</legend>

    <label for="prod_code">{t}Product code{/t}:</label>
    <input class="tinput" type="text" id="prod_code" name="prod_code" value="{$product.prod_code|wash}" size="18" maxlength="18">
    <br>

    <label for="prcat_id">{t}Product Category{/t}:</label>
    <select id="prcat_id" name="prcat_id">
      {html_options options=$select_prcat selected=$product.prcat_id}
    </select>
    <br>

    <label for="prod_name">{t}Product name{/t}:</label>
    <input class="tinput" type="text" id="prod_name" name="prod_name" value="{$product.prod_name|wash}" size="50" maxlength="100">
    <br>

    <input type="submit" name="submit" value="{t}Search{/t}">
  </fieldset>
</form>

</div>
<!-- END {$smarty.template} -->
