<!-- BEGIN {$smarty.template} -->

<script type="text/javascript" >
    {literal}

    $(document).ready(function() {
        {/literal}
        var gridConf = {$gridconf};
        {literal}

        $.extend($.jgrid.edit, {
                closeAfterEdit: true,
                closeAfterAdd: true,
                //ajaxEditOptions: { contentType: "application/json" },
                serializeEditData: function(data) {
                        delete data.oper;
                        return JSON.stringify(data);
                }
        });

        $.extend($.jgrid.del, { mtype: 'DELETE', serializeDelData: function() { return ""; } });

        var editOptions = { 
            url: gridConf.apiUrl, 
            mtype: 'PUT', 
            onclickSubmit: function(params, postdata) {  
                params.url = gridConf.apiUrl+'/'+jQuery("#itemlist").getGridParam('selrow'); 
            },
            afterSubmit: processAddEdit
        };
        var addOptions = { url: gridConf.apiUrl, mtype: "POST", afterSubmit: processAddEdit };
        var delOptions = { 
            url: gridConf.apiUrl, 
            onclickSubmit: function(params, postdata) { params.url = gridConf.apiUrl + '/' + postdata; },
            afterSubmit: processAddEdit
        };

        function processAddEdit(response, postdata) {
        	var success = true;
        	var message = ""
        	var json = eval('(' + response.responseText + ')');
        	if(json.errors) {
                    success = false;
                    for(i=0; i < json.errors.length; i++) {
                        message += json.errors[i] + '<br/>';
                    }
        	}
                var new_id = json.obj_id || -1;
        	return [success,message,new_id];
        }

        $("#itemlist").jqGrid({
            //scroll:1,
            datatype: 'json',
            url: gridConf.apiUrl, 
            editurl: gridConf.apiUrl, 
            mtype: 'GET',
            colNames: gridConf.colNames,
            colModel : gridConf.colModel,
            pager: '#itempager',
            rowNum:30,
            sortname: gridConf.sortName,
            sortorder: gridConf.sortOrder,
            viewrecords: true,
            jsonReader : { root: 'rows', repeatitems: false, id: gridConf.idField },
            gridview: true,
            caption: gridConf.title,
            width: gridConf.width,
            height: 'auto',
            sortable: true,
            toppager: true
        }).jqGrid('filterToolbar',{stringResult:true});

        jQuery("#itemlist").jqGrid('navGrid','#itempager',
                { 
                  cloneToTop: true,
                  add: gridConf.canManage, 
                  edit: gridConf.canManage, 
                  del: gridConf.canManage, 
                  search:true, 
                  refresh:true
                  },
                  editOptions, addOptions, delOptions,
                  { closeOnEscape:true, multipleSearch:true }, // search
                  { closeOnEscape:true } // view
                );
    });
{/literal}
</script>

<div class="ui-layout-center">
    <table id="itemlist"><tr></tr></table> 
    <div id="itempager"></div>
</div>
<!-- END {$smarty.template} -->
