<!-- BEGIN {$smarty.template} -->
<div class="ui-layout-center">

<table cellspacing="0">
    <caption><em>{t}System information{/t}</em></caption>
    <thead>
        <tr>
            <th colspan="2"> {t}Database system{/t} </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> {t}Database system{/t} </td>
            <td> {$sysinfo.rdbms.name|wash} </td>
        </tr>
        <tr>
            <td> {t}Version{/t} </td>
            <td> {$sysinfo.rdbms.version|wash} </td>
        </tr>
        <tr>
            <td> {t}Host{/t} </td>
            <td> {$smarty.const.PHPAGA_DB_HOST|wash|default:"(socket)"} </td>
        </tr>
        <tr>
            <td> {t}Database{/t} </td>
            <td> {$smarty.const.PHPAGA_DB_NAME|wash} </td>
        </tr>
        <tr>
            <td> {t}DB user{/t} </td>
            <td> {$smarty.const.PHPAGA_DB_LOGIN|wash} </td>
        </tr>
        <tr>
            <th colspan="2"> {t}PHP{/t} </th>
        </tr>
        <tr>
            <td> {t}Version{/t} </td>
            <td> {$smarty.const.PHP_VERSION|wash} </td>
        </tr>
        <tr>
            <td> {t}OS{/t} </td>
            <td> {$smarty.const.PHP_OS|wash} </td>
        </tr>
    </tbody>
</table>

<table cellspacing="0">
    <caption><em>{t}Records{/t}</em></caption>
    <thead>
        <tr>
            <th> {t}Entity{/t} </th>
            <th class="number"> {t}Count{/t} </th>
            <th class="time"> {t}First{/t} </th>
            <th class="time"> {t}Last{/t} </th>
        </tr>
    </thead>
    <tbody>
        {section name=x loop=$sysinfo.stats}
        <tr>
            <td> {$sysinfo.stats[x].name|wash} </td>
            <td class="number"> {$sysinfo.stats[x].num} &nbsp; </td>
            <td class="time"> {$sysinfo.stats[x].first|date_format:$smarty.const.PHPAGA_DATEFORMAT_SHORT|default:"&nbsp;"} </td>
            <td class="time"> {$sysinfo.stats[x].last|date_format:$smarty.const.PHPAGA_DATEFORMAT_SHORT|default:"&nbsp;"} </td>
        </tr>
        {/section}
    </tbody>
</table>


</div>
<!-- END {$smarty.template} -->
