<!-- BEGIN {$smarty.template} -->

<script type="text/javascript" >
    {literal}

    $(document).ready(function() {

        $("#loglist").jqGrid({
            //scroll:1,
            datatype: 'json',
            url: '/api.php/log',
            mtype: 'GET',
            colNames:[ 
                {/literal}'Id', '{t}Date{/t}', '{t}Ident{/t}', '{t}Priority{/t}', '{t}Message{/t}'{literal}
            ],
            colModel :[ 
              {hidden:true,name:'id', index:'id'},
              {name:'logtime', index:'logtime', width:60, align:"right",formatter: 'date', search: false
              /*
                searchoptions: { sopt: ['cn','bw','eq','ew','ne'] },
                formatoptions: {newformat:'ShortDate'}, 
                searchoptions: { sopt: ['eq','lt','le','gt','ge'],
                    dataInit : function (elem) { 
                        $(elem).datepicker({ changeMonth: true, changeYear: true, dateFormat: 'yy-mm-dd' }); } 
                }
                */
              },
              {name:'ident', index:'ident', width:30, align:"right", search: true , searchoptions:{ sopt: ['cn', 'eq'] } },
              {name:'priority', index:'priority', width:30, search: true, 
                    formatter:'select', stype: 'select',
                    edittype:'select', editoptions: { value: ":--;3:Err;6:Info" },
                    searchoptions:{ sopt: ['eq'] }
              },
              {name:'message', index:'message', width:100, searchoptions: { sopt: ['cn','bw','eq','ew','ne'] } }
            ],
            pager: '#logpager',
            rowNum:30,
            sortname: 'logtime',
            sortorder: 'desc',
            viewrecords: true,
            jsonReader : { root: 'rows', repeatitems: false, id:"0"},
            gridview: true,
            caption: {/literal}'{t}Application log{/t}'{literal},
            width: 800,
            height: 'auto',
            sortable: true
        }).jqGrid('filterToolbar',{stringResult:true});

        jQuery("#loglist").jqGrid('navGrid','#logpager',
                { add: false, 
                  edit: false, 
                  del:false, 
                  search:true, 
                  refresh:true,
                  },
                  {}, // edit
                  {}, // add
                  {}, // del
                  { closeOnEscape:true, multipleSearch:true }, // search
                  { closeOnEscape:true } // view
                );
    });
        
{/literal}
</script>

<div class="ui-layout-center">

    <table id="loglist"><tr></tr></table> 
    <div id="logpager"></div>

</div>
<!-- END {$smarty.template} -->
