<!-- BEGIN {$smarty.template} -->
<div class="ui-layout-center">

<div id="upload" class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-draggable" title="{t}Add files{/t}">

{if !$smarty.const.PHPAGA_UPLOADS_DISABLED}
<form id ="uploadform" action="upload.php" method="post" enctype="multipart/form-data">
    <input type="hidden" name="returl" value="{$returl|rawurlencode}" />
    <input type="hidden" name="file_rel_type" value="{$file_rel_type}" />
    <input type="hidden" name="file_rel_id" value="{$file_rel_id}" />

    <ul>
        <li>{t}File{/t}: <input type="file" name="upfiles[]" class="tinput" size="60" /></li>
        <li>{t}File{/t}: <input type="file" name="upfiles[]" class="tinput" size="60" /></li>
        <li>{t}File{/t}: <input type="file" name="upfiles[]" class="tinput" size="60" /></li>
        <li>{t}File{/t}: <input type="file" name="upfiles[]" class="tinput" size="60" /></li>
        <li>{t}File{/t}: <input type="file" name="upfiles[]" class="tinput" size="60" /></li>
    </ul>
</form>
{else}
<div class="errmsg">
  <div>{t}Uploads disabled{/t}</div>
  {t}Uploads are disabled.{/t}
</div>

{/if}
</div>

</div>
<!-- END {$smarty.template} -->
