<!-- BEGIN {$smarty.template} -->
<div class="ui-layout-center">

<table id="opdetailstab" cellspacing="0">
    <tr>
        <th>{t}Start date{/t}: </th>
        <td> {$opInfo.op_startdate|wash|date_format:$smarty.const.PHPAGA_DATEFORMAT_LONG} {$opInfo.op_starthours} </td>
        <th>{t}Category{/t}: </th>
        <td>{$opInfo.opcat_title|wash}</td>
    </tr>
    <tr>
        <th>{t}End date{/t}: </th>
        <td> {$opInfo.op_enddate|wash|date_format:$smarty.const.PHPAGA_DATEFORMAT_LONG|default:"&nbsp;"} {$opInfo.op_endhours} </td>
        <th>{t}Duration{/t}: </th>
        <td>{$opInfo.op_duration|wash} </td>
    </tr>
    <tr>
        <th>{t}Project{/t}: </th>
        <td>{$prjInfo.prj_title|wash} </td>
        <th>{t}Person{/t}: </th>
        <td>{$opInfo.op_person|wash} </td>
    </tr>
    <tr>
        <th>{t}Description{/t}:</th>
        <td colspan="3">{$opInfo.op_desc|wash|nl2br}</td>
    </tr>
</table>

</div>
<!-- END {$smarty.template} -->
