﻿@charset "utf-8";

img.tTip						{ margin: 8px 15px 8px 0px; float: left; }

.lightTip						{  }
.lightTip .content				{ width: 310px; padding: 10px; border: 6px solid #e2e2e2; -moz-border-radius: 5px; -webkit-border-radius: 5px; background: #ffffff; color: #020202; }
.lightTip .bottom				{ height: 14px; background: url(../images/notch-white.png) top center no-repeat; }

.yellowTip						{  }
.yellowTip .content				{ width: 310px; padding: 10px; border: 6px solid #f9e98e; -moz-border-radius: 5px; -webkit-border-radius: 5px; background: #fbf7aa; color: #020202; }
.yellowTip .bottom				{ height: 14px; background: url(../images/notch-yellow.png) top center no-repeat; }

.orangeTip						{  }
.orangeTip .content				{ width: 310px; padding: 10px; border: 6px solid #f9cd8e; -moz-border-radius: 5px; -webkit-border-radius: 5px; background: #fbe3aa; color: #020202; }
.orangeTip .bottom				{ height: 14px; background: url(../images/notch-orange.png) top center no-repeat; }

.redTip							{  }
.redTip .content				{ width: 310px; padding: 10px; border: 6px solid #ce6f6f; -moz-border-radius: 5px; -webkit-border-radius: 5px; background: #f79992; color: #020202; }
.redTip .bottom					{ height: 14px; background: url(../images/notch-red.png) top center no-repeat; }

.greenTip						{  }
.greenTip .content				{ width: 310px; padding: 10px; border: 6px solid #a9db66; -moz-border-radius: 5px; -webkit-border-radius: 5px; background: #cae8a2; color: #020202; }
.greenTip .bottom				{ height: 14px; background: url(../images/notch-green.png) top center no-repeat; }

.blueTip						{  }
.blueTip .content				{ width: 310px; padding: 10px; border: 6px solid #36a4d9; -moz-border-radius: 5px; -webkit-border-radius: 5px; background: #90d8f0; color: #020202; }
.blueTip .bottom				{ height: 14px; background: url(../images/notch-blue.png) top center no-repeat; }

.purpleTip						{  }
.purpleTip .content				{ width: 310px; padding: 10px; border: 6px solid #8671de; -moz-border-radius: 5px; -webkit-border-radius: 5px; background: #a290f0; color: #020202; }
.purpleTip .bottom				{ height: 14px; background: url(../images/notch-purple.png) top center no-repeat; }

.darkTip						{  }
.darkTip .content				{ width: 310px; padding: 10px; border: 6px solid #303030; -moz-border-radius: 5px; -webkit-border-radius: 5px; background: #505050; color: #f8f8f8; }
.darkTip .bottom				{ height: 14px; background: url(../images/notch-dark.png) top center no-repeat; }

.pagaTip						{  }
.pagaTip .content				{ width: 310px; padding: 10px; border: 6px solid #aba; -moz-border-radius: 5px; -webkit-border-radius: 5px; background: #ded; color: #444; }
.pagaTip .bottom				{ height: 14px; background: url(../images/notch-paga.png) top center no-repeat; }
