
body { background-color:#fff; color:#000; margin:10px 20px 10px 10px; }


h2 { font-size: 100%; margin: 5px 0; }

td { font-size: 1em; }

body,table,td,th {
color:#444;
font-family:"Optima", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",Verdana,Arial,sans-serif;
font-size: small;
}

a, .ui-widget-content a { color:#44f; text-decoration:none; }
a:hover, .ui-widget-content a:hover { text-decoration:underline; }
a.ptr,.pointer { cursor:pointer; }

div.actions { margin-bottom: 5px; color: #ccc; font-size: 90%; }
div.actions a { text-decoration: underline; }

ul.actions { border: 0; list-style: none; margin: 0; padding: 0; }
ul.actions li { float: left; padding: 4px 5px; border-right: solid 1px #ddd; }

div.toolbar { margin-bottom: 10px; font-size: 0.8em; }
div.buttonbar { margin: 10px 0; font-size: 0.9em; }

div.buttons input { margin:20px; }

div #shell {
background:#ddd;
border:solid 1px #bbb;
font-family:Courier;
font-size:larger;
margin:10px;
padding:10px;
width:80%;
}

#loginarea {
background:url(../img/phpaga/mbobo.png) no-repeat top right;
border:none;
}

#lmsg { padding-left: 20px; color: #f00; }

#loginarea fieldset { border: none; }

#loginarea p.a {
margin-top:40px;
text-align:center;
}

#loginarea label,#loginarea input {
display:block;
float:left;
margin-bottom:6px;
}

#loginarea label {
padding-right:10px;
text-align:right;
width:100px;
}

#loginarea form br { clear:left; }

#nojs { border: solid 1px #f00; padding: 20px; text-align: left; color: #000; }
#nojs h3 { color: #f00; }
#nojs a { color: #f00; text-decoration: underline; }

#olgwrap { border: solid 1px #00f; padding: 20px; text-align: left; color: #000; }
#olgwrap a { text-decoration: underline; }

.comment { font-size:smaller; font-style:italic; }

.tinput:focus {
background-color:#e0e0ff;
border:solid #888 1px;
color:#000;
}

textarea:focus {
background-color:#ccf;
border:solid #888 1px;
color:#000;
padding:1px;
}

.cbox {
background:#ffc;
border:none;
}

select {
background-color:#f4f4f4;
border:solid #aaa 1px;
color:#000;
}

table caption,div.dcaption {
border-bottom:solid #bbb 1px;
color:#555;
font-size:85%;
font-style:normal;
font-weight:normal;
margin-top:10px;
padding:4px 5px;
text-align:right;
white-space:normal;
}

table caption em,div.dcaption em {
color:#555;
float:left;
font-size:110%;
font-style:normal;
font-weight:bold;
padding-right:5px;
}

table caption em span,div.dcaption em span {
font-weight:normal;
}

div.year { padding-bottom: 15px; }

div.year em span  { font-size:185%; }

table.billdetailstable {
background:#fff;
border-left:none;
border-right:none;
border-top:dotted #888 1px;
margin-bottom:10px;
margin-top:10px;
}

table.billdetailstable td.bdesc {
background:#fff;
border-bottom:dotted #888 1px;
border-right:none;
text-align:left;
vertical-align:top;
}

table.billdetailstable td.bnumber {
background:#fff;
border-bottom:dotted #888 1px;
border-right:none;
text-align:right;
white-space:nowrap;
}

table.billdetailstable td.btext {
background:#FFF;
border:none;
border-right:none;
font-size:2px;
margin:0;
padding:0;
}

table.billdetailstable td.bamount {
background:#FFF;
border-bottom:none;
border-right:none;
border-top:solid #000 1px;
font-size:2px;
margin:0;
padding:0;
}

table {
background:#fff;
border-spacing:0;
empty-cells:show;
margin-bottom:10px;
margin-right:30px;
}

table td {
border-bottom:dotted 1px #ccc;
padding:4px 8px;
vertical-align:top;
}

/*table tbody tr:hover { background:#d7e3f4; } */

table td.enabled0 {
background:transparent url('../img/phpaga/enabled.png') no-repeat left center;
padding-left:25px;
}

table td.enabled10 {
background:transparent url('../img/phpaga/disabled.png') no-repeat left center;
padding-left:25px;
}

table td.last {
white-space:nowrap;
}

table table td.warn {
background:#f88;
}

table td.label {
background-color:#efefef;
border-bottom:solid #ddd 1px;
text-align:right;
vertical-align:top;
}

table td span.label {
background-color:#efefef;
border-bottom:solid #aaa 1px;
padding:2px;
}

table td.number {
text-align:right;
white-space:nowrap;
}

table th {
border-bottom:solid 1px #ccc;
color:#888;
font-style:normal;
font-weight:normal;
padding:4px 8px 4px 16px;
}

table th.clhead {
background:transparent url('../img/phpaga/information.png') no-repeat left center;
padding-left:25px;
}

table th.cfinance {
background:transparent url('../img/phpaga/bill.png') no-repeat left center;
padding-left:25px;
}

table th.cdefault {
background:transparent url('../img/phpaga/wrench.png') no-repeat left center;
padding-left:25px;
}

table th.cchart {
background:transparent url('../img/phpaga/chart_pie.png') no-repeat left center;
padding-left:25px;
}

table th.clayout {
background:transparent url('../img/phpaga/layout_content.png') no-repeat left center;
padding-left:25px;
}

table th.cpdf {
background:transparent url('../img/phpaga/page_white_acrobat.png') no-repeat left center;
padding-left:25px;
}

table tr.summary td {
background-color:#e8e8e8;
border-top:#ddd;
}

table th a {
color:#888;
}

table td.browse {
border-right:none;
text-align:center;
white-space:nowrap;
}

table td.data {
background-color:#f8f8f8;
border-bottom:solid #eee 1px;
}

table td.datawrap {
white-space:normal;
}

table td.sumgr {
background:#fff;
border:none;
}

table td.sumtime {
border:none;
padding-left:10px;
padding-right:10px;
text-align:right;
}

table td.minsmall {
min-width:10%;
}

table td.minlarge {
min-width:70%;
}

table tr td ul li {
list-style:none;
margin:0 0 1px;
padding:0 0 0 10px;
}

table tr td ul li:before {
content:"\00BB \0020";
}

.flleft { float:left; }

.flright { float:right; }

.flleft + .flleft { padding-left:20px; }

.flleftmrg { float: left; margin-right: 20px; }

div.msg {
background:#fefefe;
border:solid 1px #88a2af;
padding:5px;
width:30%;
}

div.infomsg {
background:#eef;
border:solid 1px #aaf;
color:#444;
margin:5px;
padding:5px;
width:400px;
}

div.infomsg div {
background:#ccf url(../img/phpaga/information.png) no-repeat left center;
border-bottom:solid 1px #aaf;
border-top:solid 1px #aaf;
margin-bottom:5px;
text-align:center;
}

div.errmsg {
background:#fdd;
border:solid 1px #faa;
margin:5px;
padding:5px;
width:400px;
}

div.errmsg div {
background:#fcc url(../img/phpaga/error.png) no-repeat left top;
border-bottom:solid 1px #faa;
border-top:solid 1px #faa;
margin-bottom:5px;
text-align:center;
}

div.errmsg div span {
color:#faa;
float:right;
}

div.errmsg div span a {
color:#555;
}

div.errmsg h2 {
border-bottom:solid 1px #faa;
border-top:solid 1px #faa;
font-size:100%;
font-weight:normal;
margin-bottom:5px;
text-align:center;
}

#content {
background:#fff;
border:none;
float:left;
margin-top:10px;
width:100%;
}

#mainsect { }

#opdetails table {
border:solid 1px #bbb;
border-top:none;
}

#editopdetails {
background:transparent;
border:none;
max-width:600px;
min-width:300px;
padding:2px;
position:absolute;
/*visibility:hidden;*/
z-index:8;
}

#editopdetails table {
border:solid 1px #bbb;
}

#navbar ul {
border:0;
list-style:none;
margin:0 0 10px;
padding:0;
}

#navbar li {
background:#eee;
border-bottom:1px solid #fff;
border-top:none;
color:#444;
margin:0;
padding:1px 0 1px 5px;
text-align:left;
width:135px;
}

#navbar li.first {
padding-top:10px;
}

#navbar li.header {
background:#fff;
border-bottom:1px solid #666;
border-top:none;
color:#66a2bf;
font-weight:bold;
margin:0;
text-align:center;
text-transform:uppercase;
width:135px;
}

#navbar li.header:hover {
background:#fff;
}

#navbar li a {
display:block;
margin:0;
text-align:left;
text-decoration:none;
width:135px;
}

#navbar li:hover {
background:#66a2bf;
color:#66a2bf;
}

#navbar li a:hover {
background:#66a2bf;
color:#fff;
text-decoration:none;
}

#install {
background:#fff;
border:dashed #ccc 1px;
margin:50px;
padding:10px;
}

#install h1 {
color:#444;
}

#install div.footer a {
color:#ccc;
font-size:x-small;
text-align:center;
}

#testtab table {
border:solid 3px #666;
display:block;
height:250px;
overflow:auto;
width:auto;
}

a.sortasc {
background:url(../img/phpaga/arrow_up.png) no-repeat 0 50%;
padding-left:16px;
}

a.sortdesc {
background:url(../img/phpaga/arrow_down.png) no-repeat 0 50%;
padding-left:16px;
}

/*
a.edit {
background:url(../img/phpaga/edit.png) no-repeat 0 50%;
padding:0 0 0 16px;
}
*/
#clock {
clear:both;
color:#999;
font-size:smaller;
margin:0 0 1em;
padding:0;
text-align:right;
}

#banner { margin:5px; }

#header h1 { margin:0.2em 0 -1.2em; } 
#header h1 a { color: #358695; }
#header h1 a span { color: #bbcacd; }

#header :link,#header :visited,#header :link:hover,#header :visited:hover {
background:transparent;
border:none;
color:#358695;
margin-bottom:2px;
text-decoration:none;
}

.nav ul {
font-size:10px;
list-style:none;
margin:0;
text-align:right;
}

.nav li {
border-right:1px solid #d7d7d7;
display:inline;
padding:0 .75em;
white-space:nowrap;
}

.nav li.last { border-right:none; }

#mainnav {
background:#f7f7f7 url(../img/phpaga/menubar-gradient.png) 0 0;
border:1px solid #ccc;
font-size:smaller;
margin:.66em 0 .33em;
padding:.2em 0;
}

#mainnav li {
border-right:none;
padding:.25em 0;
}

#mainnav :link,#mainnav :visited {
background:url(../img/phpaga/dots.gif) 0 0 no-repeat;
border-bottom:none;
border-left:1px solid #555;
border-right:1px solid #fff;
color:#000;
padding:.2em 20px;
}

* html #mainnav :link,* html #mainnav :visited {
background-position:1px 0;
}

#mainnav :link:hover,#mainnav :visited:hover {
background-color:#ccc;
border-right:1px solid #ddd;
}

#mainnav .active :link,#mainnav .active :visited {
background:#333 url(../img/phpaga/menubar-gradient2.png) 0 0 repeat-x;
border-right:1px solid #000;
border-top:none;
color:#eee;
font-weight:bold;
}

#mainnav .active :link:hover,#mainnav .active :visited:hover {
border-right:1px solid #000;
}

#ctxtnav { height:1em; }

#ctxtnav li ul {
background:#f7f7f7;
border:1px solid;
color:#ccc;
display:inline;
margin:0;
padding:0;
}

#ctxtnav li li :link,#ctxtnav li li :visited { padding:0 1em; }

#ctxtnav li li :link:hover,#ctxtnav li li :visited:hover {
background:#bba;
color:#fff;
}

.datePicker th,.datePicker td { font-size:80%; }

.date-picker-control {
background:transparent url(../img/phpaga/cal.png) no-repeat 0 0;
visibility:inherit;
}

table.w20 {
width:20%;
}

div.dbupgrade ul li {
background:transparent url('../img/phpaga/dbedit.png') no-repeat left center;
list-style-type:none;
padding-left:25px;
}

fieldset.search {
border:solid 1px #cecece;
color:#666;
font-size:80%;
margin-bottom:20px;
margin-top:0;
padding-top:20px;
width:auto;
}

fieldset.search input,fieldset.search select {
font-size:100%;
margin-bottom:2px;
}

fieldset.search legend {
background:#eee;
border:solid 1px #bbb;
border-bottom:solid 1px #bbb;
color:#777;
font-size:100%;
font-weight:bold;
padding:2px 20px;
}

fieldset.search label {
float:left;
margin-bottom:6px;
padding-right:10px;
text-align:right;
width:120px;
}

fieldset.search br {
clear:left;
margin-bottom:15px;
}

fieldset.search fieldset {
border-bottom:none;
border-left:none;
border-right:none;
border-top:solid 1px #ccc;
margin:0;
padding:5px 0 0;
}

fieldset.search fieldset legend {
background:#eee;
color:#888;
font-weight:normal;
margin-left:20px;
padding-left:20px;
}

table.opcat,table.summary { margin-right:50px; }
div.mhchart { height:120px; width:360px; }
div.opcatchart { height:400px; width:400px; }
div.sumchart { height:400px; width:600px; }

div.bpcchart {
height:300px;
width:600px;
overflow: auto;
margin-right: 20px;
}

div.c,#install div.footer {
text-align:center;
}

.hidden,#newcpn,.nav h2,.nav hr {
display:none;
}

#loginarea label.r,table.wauto,div.dbupgrade {
width:auto;
}

.errormsg,.overdue,table td.warn {
color:red;
}

.tinput,textarea {
background-color:#f4f4f4;
border:solid #aaa 1px;
color:#000;
padding:1px;
}

.number,table td.time,table tr.r th,table th.number,table th.time,input.r {
text-align:right;
}

table td.st,#ctxtnav li li,fieldset.search .flleft + .flleft {
padding:0;
}

table td.actions,table td.desc {
text-align:left;
}

table td span.opcol,span.opcol {
border:solid #888 1px;
font-size:4px;
margin:5px;
padding:0 0 0 25px;
}

table td.sumrow { color:#000; }
table td.recinfo,table td.greyed { color:#aaa; }

div.floatcontainer,#content img,div.divbgwrapper #addtasktab { border:none; }

div.spacer,#footer { clear:both; }

table.detail th { border-bottom:dotted 1px #ccc; text-align: right; }

#opdetailstab th, #matdetailstab th { text-align: right; }

#opdetails,#matdetails {
background:transparent;
border:none;
max-width:600px;
min-width:300px;
padding:2px;
position:absolute;
/*visibility:hidden;*/
z-index:10;
}

#content-slider {
  height: 6px;
  margin: 5px;
  background: #BBBBBB;
  position: relative;
}

.ui-slider-handle {
  width: 8px;
  height: 14px;
  position: absolute;
  top: -4px;
  background: #478AFF;
  border: solid 1px black;
}

#content-scroll {
  margin-top: 10px;
  overflow: hidden;
  border: solid 1px #ccc;
}

#content-holder {
  width: 1500px;
}

span.frmheadinfo {
    font-weight: bold;
    font-size: 120%;

}

div.colpk { display: block; float:left; width: 100%; padding: 2px 0; }
div.colpk label, div.colpk input, div.colpk div { display: inline; float: left; }

div.color_picker {
  height: 16px;
  width: 16px;
  padding: 0 !important;
  border: 1px solid #ccc;
  background: url(../js/jquery/really-simple-color-picker/arrow.gif) no-repeat top right;
  cursor: pointer;
  line-height: 16px;
}

div#color_selector {
  width: 110px;
  position: absolute;
  border: 1px solid #598FEF;
  background-color: #EFEFEF;
  padding: 2px;
}
  div#color_custom {width: 100%; float:left }
  div#color_custom label {font-size: 95%; color: #2F2F2F; margin: 5px 2px; width: 25%}
  div#color_custom input {margin: 5px 2px; padding: 0; font-size: 95%; border: 1px solid #000; width: 65%; }

div.color_swatch {
  height: 12px;
  width: 12px;
  border: 1px solid #000;
  margin: 2px;
  float: left;
  cursor: pointer;
  line-height: 12px;
}

div.mhrsum div.dcaption { padding-top: 15px; }
div.mhrsum table th { border: none; }
div.mhrsum table td { font-size: 180%; text-align: right; border: none;}
div.mhrsum table tbody tr:hover { background:inherit; }

#mh_oprange { font-size: 0.8em; }

table.bmt td.plugin span { display: block; color: #888; }

#dbupgrade_necessary { 
    background:#fcc;
    border-bottom:solid 1px #faa;
    border-top:solid 1px #faa;
    padding: 5px;
    font-weight: bold;
    font-size: 1.5em;
}

#dbupgrade_necessary a { color: #000; text-decoration:underline; }

/* Overwrite some jqGrid styles */

.ui-jqgrid tr.jqgrow td { border-bottom-color: #ddd; }
.ui-jqgrid tr.ui-row-ltr td {border-right-color: #eee;}
.ui-jqgrid tr.ui-row-rtl td {border-left-color: #eee;}

